
<script>
$.getScript("/vendor/jobdetailscript.js");

</script>

 <div id="powerwidgets">
    <div class="row" >
      <div class="col-md-12  bootstrap-grid">
        <div class="powerwidget blue" data-widget-editbutton="false" data-widget-deletebutton="false">
          <header>
            <h2>Basic Setup</h2>
          </header>
          <div class="inner-spacer">
            <div class="row"> 
              <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" style="left:10px">Contact Person: </div>
              <div class="inputtext col-md-2 column" style="position:absolute;left:120px;width:400px">
                 <a class="editable-click" href="javascript:void(0)"  id="job_contactname" data-name="job_contactname" data-type="text" data-pk="<%=@job.id %>" data-url="/updatejob" data-title="Enter Contact Person"><%= @job.job_contactname %>   </a>
              </div>
            </div>
            <div class="row"> 
              <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" style="left:10px">Contact Email: </div>
              <div class="inputtext col-md-2 column" style="position:absolute;left:120px;width:400px">
                 <a class="editable-click" href="javascript:void(0)"  id="job_contactemail" data-name="job_contactemail" data-type="text" data-pk="<%=@job.id %>" data-url="/updatejob" data-title="Enter Contact Email"><%= @job.job_contactemail %>   </a>
              </div>
            </div>
            <div class="row">  
                <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" style="left:10px">Phone #: </div>
                <div class="inputtext col-md-2 column" style="position:absolute;left:120px"> 
                 <a class="editable-click" href="javascript:void(0)"  id="job_contactphone" data-name="job_contactphone" data-type="text" data-pk="<%=@job.id %>" data-url="/updatejob" data-title="Enter Contact Number"><%= @job.job_contactphone %> </a>
                </div>
            </div> 
            <div class="row" style="position:relative">
            <div class="col-md-4 col-lg-3  column inputlabel" >I want to reveal our company detail to candidate</div> 
              <label>
                <div style="position:absolute; left:310px;top:0px" style="col-md-1 col-lg-1" ><input  onclick="revealcheck(<%=@job.id%>)" id="revealcheck" name="job_companyreveal" type="checkbox"  <%= @job.job_companyreveal== true ? "checked" : "unchecked" %> />  </div>
                <span class="lbl"> </span>
              </label>
	         </div> <!-- row -->  

			<div class="row">
              <div class="inputlabel col-md-4 col-lg-3 col-xs-12 col-sm-5 column">  </div> 
              <span style="position:relative; left:-260px; top:20px" id="CVsection"> <a href=<%= @job.job_jdurl %> > <i style="font-size: 25px;" class="fa fa-file-text-o"><br><div style="font-size: 14px;left:-10px;position:relative">JD</div></i> </a></span>
              <script src='/vendor/jqueryfileupload/js/vendor/jquery.ui.widget.js' type='text/javascript'></script>
              <script src='/vendor/jqueryfileupload/js/jquery.iframe-transport.js' type='text/javascript'></script>
              <script src='/vendor/jqueryfileupload/js/jquery.fileupload.js' type='text/javascript'></script>
              <script src='/vendor/jqueryfileupload/js/jquery.fileupload-process.js' type='text/javascript'></script>
              <script src='/vendor/jqueryfileupload/js/jquery.fileupload-validate.js' type='text/javascript'></script>
              <script src='/vendor/cloudinary/jquery.cloudinary.js' type='text/javascript'></script>
              <script type="text/javascript">$.cloudinary.config({cloud_name:'dashy', api_key:'219441847515364'}); </script>
              <span style="position:relative; left:-220px; top:5px" class="btn dark-blue-btn btn-primary fileinput-button">
                <div id="uploadprogress"><i class="glyphicon glyphicon-plus"></i> <span >Update JD file</span></div> <input name="file" type="file" id="fileupload" class="cloudinary-fileupload" data-cloudinary-field="image_upload" ></span>
              <!-- <div  id="uploadprogress" style="position:relative; top:-25px; left: -25px;">AA </div> -->
            </div> <!--upload row-->
            <br><br> 
                <script type="text/javascript">
                $(function(){
                  $('#fileupload').fileupload({
                      add: function (e, data) {
                          $.getJSON('/filer_jd', function (result) {
                              data.formData = result; // e.g. {id: 123}
                              data.submit();
                          }).fail( function(d, textStatus, error) {
                              console.error("Error! Please contact helpdesk. Status: " + textStatus + ", error: "+error)
                          });
                      },
                      url: "https://api.cloudinary.com/v1_1/dashy/upload",
                      acceptFileTypes: /(\.|\/)(doc?x|pdf|txt)$/i, 
                      // The maximum allowed file size in bytes:
                      maxFileSize: 10000000, // 10 MB
                      // The minimum allowed file size in bytes:
                      minFileSize: 1, // No minimal file size
                      // The limit of files to be uploaded:
                      maxNumberOfFiles: 10
                    })
                  // .on('fileuploadfail', function (e, data) {
                  //     var currentFile = data.files[data.index];
                  //     alert("Error! Please contact helpdesk");
                  //     if (data.files.error && currentFile.error) {
                  //       // there was an error, do something about it
                  //       // newAlert("#alert_placeholder-tab",'danger', currentFile.error);
                     
                  //     }
                  //   });
                  });

                  $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) { 
                     $.ajax({
                          url: '/jduploaded',
                          type: 'POST',
                          data: {"jdurl": data.result.url, "pk" : <%=@job.id %>},
                          success: function(response){
                            tt = "<a href=".concat(data.result.url,"><i style='font-size: 25px;' class='fa fa-file-text-o'><br><div style='font-size: 14px;left:-10px;position:relative'>JD</div></i></a>");
                            $('#CVsection').html(tt);
                                      $("#uploadprog").html("Uploading is complete!");
                                      $('#uploadprog').fadeOut(3000, function() {
                                        $(this).remove();
                                        $("#uploadprogress").html("<i class='glyphicon glyphicon-plus'></i> <span >Upload new CV</span>");
                                       });
                            //newAlert("#alert_placeholder-tab", 'success', "File uploaded successfully!");
                          }
                     }); //ajax
                     return true;
                  }); //cloudinary done

                  $('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) {
                    $("#uploadprogress").html("<div id='uploadprog'> <i class='fa fa-spinner fa-spin'></i>Uploading in progress</div> </div>");
                  });

                  $('.cloudinary-fileupload').bind('fileuploadstop', function(e, data) {

                  });

                   $('.cloudinary-fileupload').bind('fileuploadfail', function(e, data) {
                      alert(data.files[0].error);
                  });
              </script>




	         <div class="row"> 
              <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" style="left:10px">Closing Date: </div>
              <div class="inputtext col-md-2 column" style="position:absolute;left:120px;width:400px">
                 <a class="editable-click" href="javascript:void(0)"  id="job_closed" data-name="job_closed" data-type="text" data-pk="<%=@job.id %>" data-url="/updatejob" data-title="Enter Closing Date"><%= @job.job_closed %>   </a>
              </div>
             </div>
	         <div class="row"> 
              <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" style="left:10px">Job Title: </div>
              <div class="inputtext col-md-2 column" style="position:absolute;left:120px;width:400px">
                 <a class="editable-click" href="javascript:void(0)"  id="job_title" data-name="job_title" data-type="text" data-pk="<%=@job.id %>" data-url="/updatejob" data-title="Enter Job Title"><%= @job.job_title %>   </a>
              </div>
             </div>
             <div class="row"> 
              <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" style="left:10px">Job Location: </div>
              <div class="inputtext col-md-2 column" style="position:absolute;left:120px;width:400px">
                 <a class="editable-click" href="javascript:void(0)"  id="job_location" data-name="job_location" data-type="text" data-pk="<%=@job.id %>" data-url="/updatejob" data-title="Enter Job Location"><%= @job.job_location %>   </a>
              </div>
             </div>
             <div class="row"> 
              <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" style="left:10px">Job Industry: </div>
              <div class="inputtext col-md-2 column" style="position:absolute;left:120px;width:400px">
                 <a class="editable-click" href="javascript:void(0)"  id="job_industry" data-name="job_industry" data-type="text" data-pk="<%=@job.id %>" data-url="/updatejob" data-title="Enter Job Industry"><%= @job.job_industry %>   </a>
              </div>
             </div>
             <div class="row"> 
              <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" style="left:10px">Travel Requirement: </div>
              <div class="inputtext col-md-2 column" style="position:absolute;left:120px;width:400px">
                 <a class="editable-click" href="javascript:void(0)"  id="job_travel" data-name="job_travel" data-type="text" data-pk="<%=@job.id %>" data-url="/updatejob" data-title="Enter Travel Requirement"><%= @job.job_travel %>   </a>
              </div>
             </div>
             <div class="row"> 
              <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" style="left:10px">Preferred Nationality : </div>
              <div class="inputtext col-md-2 column" style="position:absolute;left:120px;width:400px">
                 <a class="editable-click" href="javascript:void(0)"  id="job_nationality" data-name="job_nationality" data-type="text" data-pk="<%=@job.id %>" data-url="/updatejob" data-title="Select Nationality Requirement"><%= @job.job_nationality %>   </a>
              </div>
             </div>
             <div class="row"> 
              <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" style="left:10px">Minimum Salary: </div>
              <div class="inputtext col-md-2 column" style="position:absolute;left:120px;width:400px">
                 <a class="editable-click" href="javascript:void(0)"  id="job_salarymin" data-name="job_salarymin" data-type="text" data-pk="<%=@job.id %>" data-url="/updatejob" data-title="Enter "><%= @job.job_salarymin %>   </a>
              </div>
             </div>
             <div class="row"> 
              <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" style="left:10px">Maximum Salary: </div>
              <div class="inputtext col-md-2 column" style="position:absolute;left:120px;width:400px">
                 <a class="editable-click" href="javascript:void(0)"  id="job_salarymax" data-name="job_salarymax" data-type="text" data-pk="<%=@job.id %>" data-url="/updatejob" data-title="Enter "><%= @job.job_salarymax %>   </a>
              </div>
             </div>
             <div class="row"> 
              <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" style="left:10px">Years of Related Experience: </div>
              <div class="inputtext col-md-2 column" style="position:absolute;left:120px;width:400px">
                 <a class="editable-click" href="javascript:void(0)"  id="job_experience" data-name="job_experience" data-type="text" data-pk="<%=@job.id %>" data-url="/updatejob" data-title="Enter Job Title"><%= @job.job_experience %>   </a>
              </div>
             </div>
             <div class="row"> 
              <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" style="left:10px">Job Time ???: </div>
              <div class="inputtext col-md-2 column" style="position:absolute;left:120px;width:400px">
                 <a class="editable-click" href="javascript:void(0)"  id="job_time" data-name="job_time" data-type="text" data-pk="<%=@job.id %>" data-url="/updatejob" data-title="Enter Job Title"><%= @job.job_time %>   </a>
              </div>
             </div>
             <div class="row"> 
              <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" style="left:10px">Job Function: </div>
              <div class="inputtext col-md-2 column" style="position:absolute;left:120px;width:400px">
                 <a class="editable-click" href="javascript:void(0)"  id="job_function" data-name="job_function" data-type="text" data-pk="<%=@job.id %>" data-url="/updatejob" data-title="Enter Job Title"><%= @job.job_function %>   </a>
              </div>
             </div>
            <div class="row" style="position:relative">
            <div class="col-md-4 col-lg-3  column inputlabel">No preference on Nationality</div> <!-- this will hide the dropdown list-->
              <label>
                <div style="position:absolute; left:310px;top:0px" style="col-md-1 col-lg-1" ><input  onclick="nationalityallcheck(<%=@job.id%>)" id="nationalityallcheck" name="job_nationalityall" type="checkbox"  <%= @job.job_nationalityall== true ? "checked" : "unchecked" %> />  </div>
                <span class="lbl"> </span>
              </label>
	         </div> <!-- row -->  
            <div class="row" style="position:relative">
            <div class="col-md-4 col-lg-3  column inputlabel">Need to be a PR?</div> <!-- show this only if nationalityall or non Singapore is selected-->
              <label>
                <div style="position:absolute; left:310px;top:0px" style="col-md-1 col-lg-1" ><input  onclick="nationalityprcheck(<%=@job.id%>)" id="nationalityprcheck" name="job_nationalityall" type="checkbox"  <%= @job.job_nationalitypr== true ? "checked" : "unchecked" %> />  </div>
                <span class="lbl"> </span>
              </label>
	         </div> <!-- row -->  	         

          </div> <!-- innerspacer -->
        </div> <!--powerwidget -->
      </div> <!--col -->
    </div> <!--row-->
  </div> <!--powerwidgets —->

