
<div id="main" class="site-main">
	<div id="primary" class="content-area">
		<div class="page-header">
			<h1 class="page-title"><%=@userprofile.firstname %> <%=@userprofile.lastname %></h1>
			<h2 class="page-subtitle">
				<ul>
					<li class="job-title">TagLine---</li>
					<li class="location"><i class="icon-location"></i> <span class="candidate-location"><%= @country.get(@userprofile.nationality).country %></span></li>
					<li class="date-posted" itemprop="datePosted"><i class="icon-calendar"></i> <date>Updated XXX month ago</date></li>
				</ul>
			</h2>
		</div>
		<div id="content" class="container" role="main">
			<article id="post-2111" class="post-2111 resume type-resume status-publish hentry">
			<div class="entry-content">
				<div class="single-resume-content row">
					<div class="job-meta-top row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<aside class="job_listing-widget-top default-widget">
								<img class="candidate_photo" src= <%= @userprofile.pictureurl %> alt="Photo" />
							</aside>
				
						</div>
						<div class="col-md-5 col-sm-6 col-xs-12">		
							<aside class="job_listing-widget-top default-widget">
								<h3 class="job_listing-widget-title-top">Candidate Resume</h3>		
								<a rel="nofollow" href=<%= @userprofile.cvurl %> class="resume-file resume-file-pdf">Download CV</a>
							</aside>
							<aside class="job_listing-widget-top default-widget">
								<h3 class="job_listing-widget-title-top">Candidate Skills</h3>
								<% @allskills.each do |i| %>
									<!-- If rank = 1, job-tag = job-tag1  TO BE DONE! -->
									<div class="job-tag"><%= @ssmaster.get(i.skillid).skill_name %></div>
								<% end %>
							</aside>	
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12">
							<aside class="job_listing-widget-top default-widget">
								<h3 class="job_listing-widget-title-top">Candidate Details</h3>
								<ul class="resume-links">
									<li class="resume-link resume-link-twitter"><a rel="nofollow" href="http://twitter.com/">Twitter</a></li>
									<li class="resume-link resume-link-website"><a rel="nofollow" href="http://website.com/">Website</a></li>
								</ul>
							</aside>
						</div>
					</div>
					<div class="resume_description col-md-12 col-sm-12">
						<h2 class="job-overview-title">Description</h2>
						<p>?? A stimulating position in systems design that will utilize my advanced optimization background</p>
						<h3>Summary Of Skills</h3>
						<ul>
							<li>Thorough mathematical record and ability to apply statistical methods to non-robust Markovitz sets</li>
							<li>Used Visual Studio on unix systems to construct robust open source sites</li>
							<li>Strong problem solving and leadership traits gained through Chief Project Analyst position at <i>World Rest</i> and work experience</li>
							<li>Experience using Notepad with C++ to obscure financial real world products</li>
						</ul>
						<h3>Endorsement</h3>
					</div>
					<div class="resume-info col-md-12 col-sm-8 col-xs-12">
						<h2 class="job-overview-title">Education</h2>
<!-- 						<dl class="resume-manager-education">
							<dt>
								<h3><%= @alledu.skr_university %></h3>
							</dt>
							<dd>
								<small class="date"> <%= @alledu.skr_unistart %> -  <%= @alledu.skr_uniend %></small>
								<strong class="qualification"><%= @alledu.skr_unititle %></strong>
							</dd>
						</dl> -->
						<h2 class="job-overview-title">Experience</h2>
						<dl class="resume-manager-experience">
						<dt>
							<h3>Arabia Insurance, Azeroth, WOW</h3>
						</dt>
						<dd>
							<small class="date">Jul 2013 - Sep 2014</small>
							<strong class="job_title">Cyber Systems Developer</strong>
							<p>created a robust yield maximizing Excel model<br />
improved retention on assets benchmarks by 570%<br />
applied mathematical processes and methods to optimize CDO weights</p>
						</dd>

					
						<dt>
							<h3>Hu, Seattle, WA</h3>
						</dt>
						<dd>
							<small class="date">Jul 2013 - Sep 2014</small>
							<strong class="job_title">Chief Software Analyst</strong>
							<p>programmed a VBA-based stock price randomizing R application<br />
programmed a robust return analyzing Access application<br />
prepared report on using delinquency rates as predictors of default yields</p>
						</dd>

					
						<dt>
							<h3>Energy-verse, Markham, ON</h3>
						</dt>
						<dd>
							<small class="date">Jul 2013 - Sep 2014</small>
							<strong class="job_title">Technical Analyst</strong>
							<p>created a robust cost randomizing Matlab application<br />
in charge of tracking trade fluctuation changes with other institutions for standard compliance<br />
created a robust cost randomizing SAS application</p>
						</dd>

									</dl>
					</div>

		
		
		
	
</div>		</div>
	</article><!-- #post -->
</div>			
		
			<div class="paginate-links container">
			</div>
	</div><!-- #primary -->

	

		</div><!-- #main -->

