
<style>



</style>

<div id="main" class="site-main">
	<div id="primary" class="content-area">
		<div class="page-header">
			<h1 class="page-title"><%=@userprofile.firstname %> <%=@userprofile.lastname %></h1>
			<h2 class="page-subtitle">
				<ul>
					<li class="job-title"><%=userprofile.age %></li>
					<li class="location"><i class="icon-location"></i> <span class="candidate-location"><%= @country.get(@mynations).country %></span></li>
					<li class="location"><i class="icon-location"></i> <span class="candidate-location"><%= @mynationtypes == 2 ? "Singapore PR" : "" %></span></li>
					<!-- <li class="date-posted" itemprop="datePosted"><i class="icon-calendar"></i> <date>Updated XXX month ago</date></li> -->
				</ul>
			</h2>
		</div>
		

		</div><!-- #main -->

