
<div id="main" class="site-main">
	<div id="primary" class="content-area">
		<div class="page-header">
			<h1 class="page-title"><%=@userprofile.firstname %> <%=@userprofile.lastname %></h1>
			<h2 class="page-subtitle">
				<ul>
					<li class="job-title">TagLine---</li>
					<li class="location"><i class="icon-location"></i> <span class="candidate-location"><%= @country.get(@userprofile.nationality).country %></span></li>
					<li class="date-posted" itemprop="datePosted"><i class="icon-calendar"></i> <date>Updated XXX month ago</date></li>
				</ul>
			</h2>
		</div>
		<div id="content" class="container" role="main">
			<article id="post-2111" class="post-2111 resume type-resume status-publish hentry">
			<div class="entry-content">
				<div class="single-resume-content row">
					<div class="job-meta-top row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<aside class="job_listing-widget-top default-widget">
								<img class="candidate_photo" src= <%= @userprofile.pictureurl %> alt="Photo" />
							</aside>
				
						</div>
						<div class="col-md-5 col-sm-6 col-xs-12">		
							<aside class="job_listing-widget-top default-widget">
								<h3 class="job_listing-widget-title-top">Candidate Resume</h3>		
								<a rel="nofollow" href=<%= @userprofile.cvurl %> class="resume-file resume-file-pdf">Download CV</a>
							</aside>
							<aside class="job_listing-widget-top default-widget">
								<h3 class="job_listing-widget-title-top">Candidate Skills</h3>
								<% @allskills.each do |i| %>
									<!-- If rank = 1, job-tag = job-tag1  TO BE DONE! -->
									<div class="job-tag"><%= @ssmaster.get(i.skillid).skill_name %></div>
								<% end %>
							</aside>	
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12">
							<aside class="job_listing-widget-top default-widget">
								<h3 class="job_listing-widget-title-top">Candidate Details</h3>
								<ul class="resume-links">
									<li class="resume-link resume-link-twitter"><a rel="nofollow" href="http://twitter.com/">Twitter</a></li>
									<li class="resume-link resume-link-website"><a rel="nofollow" href="http://website.com/">Website</a></li>
								</ul>
							</aside>
						</div>
					</div>
					<div class="resume_description col-md-12 col-sm-12">
						<h2 class="job-overview-title">Description</h2>
						<p>?? A stimulating position in systems design that will utilize my advanced optimization background</p>
						<h3>Summary Of Skills</h3>
						<ul>
							<li>Thorough mathematical record and ability to apply statistical methods to non-robust Markovitz sets</li>
							<li>Used Visual Studio on unix systems to construct robust open source sites</li>
							<li>Strong problem solving and leadership traits gained through Chief Project Analyst position at <i>World Rest</i> and work experience</li>
							<li>Experience using Notepad with C++ to obscure financial real world products</li>
						</ul>
						<h3>Endorsement</h3>
					</div>
					<div class="resume-info col-md-12 col-sm-8 col-xs-12">
						<h2 class="job-overview-title">Education</h2>
						
						<dl class="resume-manager-education">
							<% @alledu.each do |i| %>
							<dt>
								<h3><%= @uni.get(@alledu.get(i).skr_university).university %></h3>
							</dt>
							<dd>
								<small class="date"> <%= @alledu.get(i).skr_unistart %> -  <%= @alledu.get(i).skr_uniend %></small>
								<strong class="qualification"><%= @degree.get(@alledu.get(i).skr_unititle).degree %></strong>
							</dd>
						</dl>
						<% end %>
						<h2 class="job-overview-title">Experience</h2>
						<dl class="resume-manager-experience">
							<% @alljobs.each do |i| %>
								<dt>
									<h3><%= @alljobs.get(i).skr_emp_location %></h3>
								</dt>
								<dd>
									<small class="date"><%= @alljobs.get(i).skr_emp_start %> to <%= @alljobs.get(i).skr_emp_end %></small>
									<strong class="job_title"><%= @alljobs.get(i).skr_emp_actualtitle %></strong>
									<p>--Should we have this job detail ----created a robust yield maximizing Excel model<br />
									improved retention on assets benchmarks by 570%<br />
									applied mathematical processes and methods to optimize CDO weights</p>
								</dd>
							<% end %>
						</dl>
					</div>

		
		
		
	
</div>		</div>
	</article><!-- #post -->
</div>			
		
			<div class="paginate-links container">
			</div>
	</div><!-- #primary -->

	

		</div><!-- #main -->

