

<!--Content Wrapper-->
      <div class="content-wrapper main-content-toggle-left"> 
        <nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">

      </nav>
            <!--Breadcrumb-->
      <div class="breadcrumb clearfix">
        <ul>
          <li><a href="/"><i class="fa fa-home"></i></a></li>
          <li><a href="/edge">Dashboard</a></li>
          <li class="active">Profile</li>
        </ul>
      </div>
      <!--/Breadcrumb--> 
    <div class="page-header">
      <h1>Company Profile</h1>
    </div>

<div id="powerwidgets">
    <div class="row" >
      <div class="col-md-12  bootstrap-grid">


            <div class="tabbable">
              <ul class="nav nav-tabs padding-16">
                <li class="active">
                  <a data-toggle="tab" href="#edit-basic">
                    <i class="green icon-edit bigger-125"></i>
                    Coy Info
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#edit-password">
                    <i class="blue icon-key bigger-125"></i>
                    Job Posting
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#edit-password">
                    <i class="blue icon-key bigger-125"></i>
                    User
                  </a>
                </li>
              </ul>
              <div class="tab-content">
              <div id="edit-basic" class="tab-pane in active">
                <div class="powerwidget blue" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                      <h2>Profile</h2>
                    </header>
                    <div class="inner-spacer">
                      <div  class="row" style="padding: 5px 0px 40px 1px;"> 
                        <div class="col-md-2 col-md-3 col-sm-3 col-lg-2 column"> <!-- photo and upload button column -->
                          <span class="profile-picture" id="pic">
                            <img id="avatar" class="editable img-responsive" alt="Avatar" src=<%= @mycoy.company_logo %> />
                          </span>
                          <div class="row"><!-- Upload Row -->
                            <div class="col-sm-6">
                                <script src='/vendor/jqueryfileupload/js/vendor/jquery.ui.widget.js' type='text/javascript'></script>
                                <script src='/vendor/jqueryfileupload/js/jquery.iframe-transport.js' type='text/javascript'></script>
                                <script src='/vendor/jqueryfileupload/js/jquery.fileupload.js' type='text/javascript'></script>
                                <script src='/vendor/jqueryfileupload/js/jquery.fileupload-process.js' type='text/javascript'></script>
                                <script src='/vendor/jqueryfileupload/js/jquery.fileupload-validate.js' type='text/javascript'></script>
                                <script src='/vendor/cloudinary/jquery.cloudinary.js' type='text/javascript'></script>
                                <script type="text/javascript">
                                    $.cloudinary.config({cloud_name:'dashy', api_key:'219441847515364'});
                                </script> 

                                  
                                 
                                  <span style="position:relative; font-size:0.7em; left:20px; top:5px" class="btn dark-blue-btn btn-primary fileinput-button">
                                  <div id="uploadprogress"><i class="glyphicon glyphicon-plus"></i> <span>Upload Logo</span></div>
                                  <input name="file" type="file" id="fileupload" class="cloudinary-fileupload" data-cloudinary-field="image_upload" ></span>
                                
                                <script type="text/javascript">
                                      $(function(){
                                          // var opts=<%= @cloudinaryjson %>;
                                          
                                      $('#fileupload').fileupload({
                                                      add: function (e, data) {
                                                          $.getJSON('/filer', function (result) {
                                                              data.formData = result; // e.g. {id: 123}
                                                              data.submit();
                                                          }).fail( function(d, textStatus, error) {
                                                              console.error("Upload failed, Please refresh this page and try again. Status: " + textStatus + ", error: "+error)
                                                          });
                                                      },
                                                      url: "https://api.cloudinary.com/v1_1/dashy/upload",
                                                      acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                                                      // The maximum allowed file size in bytes:
                                                      maxFileSize: 10000000, // 10 MB
                                                      // The minimum allowed file size in bytes:
                                                      minFileSize: 1, // No minimal file size
                                                      // The limit of files to be uploaded:
                                                      maxNumberOfFiles: 10
                                                    }).on('fileuploadfail', function (e, data) {
                                                      var currentFile = data.files[data.index];
                                                      if (data.files.error && currentFile.error) {
                                                        // there was an error, do something about it
                                                        // newAlert("#alert_placeholder-tab",'danger', currentFile.error);
                                                      
                                                      }
                                                      });

                                        });

                                    $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {  
                           
                                             $.ajax({
                                                  url: '/picuploaded',
                                                  type: 'POST',
                                                  data: {"picurl": data.result.url, "pk" : <%=@mycoy.id %>},
                                                  success: function(response){
                                                    //tt= "<img id='avatar' class='img-responsive' src=<%= @userprofile.pictureurl %> />"; //change to image location
                                                    tt = "<img id='avatar' class='img-responsive' src=".concat(data.result.url," />");
                                                    $('#pic').html(tt);  //to refresh this page picture
                                                    $('#pic2').html(tt); //for side bar picture
                                                    $("#uploadprog").html("Uploading is complete!");
                                                    $('#uploadprog').fadeOut(3000, function() {
                                                      $(this).remove();
                                                      $("#uploadprogress").html("<i class='glyphicon glyphicon-plus'></i> <span >Upload new Photo</span>");
                                                     });
                                                     
                                                  }
                                             }); //ajax
                                             return true;
                                    }); //cloudinary done

                                 $('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) {
                                 $("#uploadprogress").html("<div id='uploadprog'> <i class='fa fa-spinner fa-spin'></i>Uploading in progress</div> </div>");
                                 });
                                 $('.cloudinary-fileupload').bind('fileuploadstop', function(e, data) {
                                    
                                 });

                                 $('.cloudinary-fileupload').bind('fileuploadfail', function(e, data) {
                                    alert("You have been inactive on this page for a while. Please refresh this page before uploading your photo");
                                    
                                });
                                </script> 
                            </div>
                           </div> <!--upload row-->
                        </div> <!-- photo and upload button column -->
                      </div>
                      <div class="row">
                        <div class="col-md-10 column" style="position:relative">   
                          <div class="row">
                            <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column">Company Name </div>  
                            <div class="inputtext col-md-9 col-lg-9 col-sm-11 column" style="position:absolute;left:600px"> <a class="editable-click"  href="javascript:void(0)" id="coyname" data-type="text" data-pk="<%=@mycoy.id %>" data-url="/updatecompanyprofile" data-title="Enter Company Name"><%= @mycoy.company_name %></a></div>

                            <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" style="position:absolute;left:400px;"> Industry:  </div>
                            <div style="position:absolute;left:500px; width:200px" class="inputtext col-md-9 col-lg-9 col-sm-11 column"><a class="editable-click" href="javascript:void(0)" id="industry" data-type="text" data-pk="<%=@mycoy.id %>" data-url="/updatecompanyprofile" data-title="Enter Industry"><%= @mycoy.company_industry%></a></div>   
                                
                          </div> <!-- row -->
                          <div class="row">
                            <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" > Contact Person:  </div>
                            <div class="inputtext col-md-9 col-lg-9 col-sm-11 column" style="position:absolute;left:120px"><a class="editable-click" href="javascript:void(0)" id="contactperson" data-type="text" data-pk="<%=@mycoy.id %>" data-url="/updatecompanyprofile" data-title="Enter Contact Person"><%= @mycoy.company_contactname %></a></div>    
                          </div>

                          <div class="row">
                            <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" > Company Size: </div>
                            <div class="inputtext col-md-9 col-lg-9 col-sm-11 column" style="position:absolute;left:120px"><a class="editable-click" href="javascript:void(0)" id="coysize" data-type="text" data-pk="<%=@mycoy.id %>" data-url="/updatecompanyprofile" data-title="Enter Company Size"><%= @mycoy.company_size %></a></div>     <!--take note that it should be an integer -->
                          </div>

                          <div class="row">
                            <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" > Company HQ: </div>
                            <div class="inputtext col-md-9 col-lg-9 col-sm-11 column" style="position:absolute;left:120px"><a class="editable-click" href="javascript:void(0)" id="coyhq" data-type="text" data-pk="<%=@mycoy.id %>" data-url="/updatecompanyprofile" data-title="Enter Company HQ"><%= @mycoy.company_hq %></a></div>     <!--take note that it should be an integer -->
                          </div>

                          <div class="row">
                            <div class="col-md-2 col-lg-2  column inputlabel" style="position:absolute;left:400px">Recruitment Agency</div>  
                              <label>
                                <div style="position:absolute; left:500px;top:93px" style="col-md-1 col-lg-1" ><input  id="agentcheck" name="company_isagent" type="checkbox"  <%= @mycoy.company_isagent== true ? "checked" : "unchecked" %> />  </div>
                                <span class="lbl"> </span>
                              </label>
                          </div> <!-- row -->
                          
                          <div class="row">
                            <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" > Working Hours: </div>
                            <div class="inputtext col-md-2 col-lg-2 column" style="position:absolute;left:120px"><a class="editable-click" href="javascript:void(0)" id="workinghours" data-type="text" data-pk="<%=@mycoy.id %>" data-url="/updatecompanyprofile" data-title="Enter Working Hours"><%= @mycoy.company_workinghours %></a></div>     <!--take note that it should be an integer -->
                          </div>

                          <div class="row">
                            <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" > Dress Code:</div>
                            <div class="inputtext col-md-2 col-lg-2 column" style="position:absolute;left:120px"><a class="editable-click" href="javascript:void(0)" id="dresscode" data-type="text" data-pk="<%=@mycoy.id %>" data-url="/updatecompanyprofile" data-title="Enter Dress Code"><%= @mycoy.company_dresscode %></a></div>     <!--take note that it should be an integer -->
                          </div>
                          
                          <div class="row">
                            <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" >Preferred Language:</div>
                            <div class="inputtext col-md-2 col-lg-2 column" style="position:absolute;left:120px"><a class="editable-click" href="javascript:void(0)" id="preflang" data-type="text" data-pk="<%=@mycoy.id %>" data-url="/updatecompanyprofile" data-title="Enter Preferred Language"><%= @mycoy.company_preflang %></a></div>     <!--take note that it should be an integer -->
                          </div>
                          
                          <div class="row">
                            <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" >Promotion:</div>
                            <div class="inputtext col-md-2 col-lg-2 column" style="position:absolute;left:120px"><a class="editable-click" href="javascript:void(0)" id="coypromo" data-type="text" data-pk="<%=@mycoy.id %>" data-url="/updatecompanyprofile" data-title="Enter Promotion Paragraph"><%= @mycoy.company_promo %></a></div>     <!--take note that it should be an integer -->
                          </div>
                          
                          <div class="row">
                            <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" >Company Introduction:</div>
                            <div class="inputtext col-md-9 col-lg-9 col-sm-11 column" style="position:absolute;left:120px;width:600px"><a class="editable-click" href="javascript:void(0)" id="coyintro" data-type="text" data-pk="<%=@mycoy.id %>" data-url="/updatecompanyprofile" data-title="Enter Company Introduction"><%= @mycoy.company_intro %></a></div>     <!--take note that it should be an integer -->
                          </div>


                        </div>
                    </div> <!-- row -->
                  </div> <!-- inner- space -->
                </div> <!-- power widget -->
                <div class="powerwidget blue" data-widget-editbutton="false" data-widget-deletebutton="false">
                  <header>
                    <h2>Contact Information</h2>
                  </header>

                  <div class="inner-spacer" style="position:relative">
                    <div class="row">   
                        <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" style="left:10px">Phone #: </div> 
                      <div class="inputtext col-md-2 column" style="position:absolute;left:120px">  
                         <a class="editable-click" href="javascript:void(0)"  id="contactnumber" data-type="text" data-pk="<%=@mycoy.id %>" data-url="/updateprofile" data-title="Enter mobile number"><%= @mycoy.company_phone %> </a> 
                      </div>
                    </div>
                    <div class="row">  

                        <div class="inputlabel col-md-2 col-lg-2 col-xs-12 col-xs-12 column" style="left:10px">Address Street 1: </div>
                      <div class="inputtext col-md-2 column" style="position:absolute;left:120px">
                         <a class="editable-click" href="javascript:void(0)"  id="address" data-type="text" data-pk="<%=@mycoy.id %>" data-url="/updateprofile" data-title="Enter address"><%= @mycoy.company_addrstreet1 %>   </a>
                      </div>
                    </div>
                    <div class="row">  

                        <div class="inputlabel col-md-2 col-lg-2 col-xs-12 col-xs-12 column" style="left:10px">Address Street 2: </div>
                      <div class="inputtext col-md-2 column" style="position:absolute;left:120px">
                         <a class="editable-click" href="javascript:void(0)"  id="address" data-type="text" data-pk="<%=@mycoy.id %>" data-url="/updateprofile" data-title="Enter address"><%= @mycoy.company_addrstreet2 %>   </a>
                      </div>
                    </div>
                    <div class="row">  

                        <div class="inputlabel col-md-2 col-lg-2 col-xs-12 col-xs-12 column" style="left:10px">City: </div>
                      <div class="inputtext col-md-2 column" style="position:absolute;left:120px">
                         <a class="editable-click" href="javascript:void(0)"  id="address" data-type="text" data-pk="<%=@mycoy.id %>" data-url="/updateprofile" data-title="Enter address"><%= @mycoy.company_addrcity %>   </a>
                      </div>
                    </div>

                    <div class="row">  

                        <div class="inputlabel col-md-2 col-lg-2 col-xs-12 col-xs-12 column" style="left:10px">Country: </div>
                      <div class="inputtext col-md-2 column" style="position:absolute;left:120px">
                         <a class="editable-click" href="javascript:void(0)"  id="address" data-type="text" data-pk="<%=@mycoy.id %>" data-url="/updateprofile" data-title="Enter address"><%= @mycoy.company_addrcountry %>   </a>
                      </div>
                    </div>
                    
                    <div class="row">  

                        <div class="inputlabel col-md-2 col-lg-2 col-xs-12 col-xs-12 column" style="left:10px">Postal Code: </div>
                      <div class="inputtext col-md-2 column" style="position:absolute;left:120px">
                         <a class="editable-click" href="javascript:void(0)"  id="address" data-type="text" data-pk="<%=@mycoy.id %>" data-url="/updateprofile" data-title="Enter address"><%= @mycoy.company_addrpostcode %>   </a>
                      </div>
                    </div>

                    <div class="row">  
                      <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" style="left:10px">Company Email: </div> 
                      <div class="inputtext col-md-2 column" style="position:absolute;left:120px">
                         <a class="editable-click" href="javascript:void(0)"  id="email" data-type="text" data-pk="<%=@mycoy.id %>" data-url="/updateprofile" data-title="Enter email address"><%= @mycoy.company_email %>   </a>
                      </div>
                    </div>
                    <div class="row">  
                      <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" style="left:10px">Company URL: </div>
                      <div class="form-group"> 
                          <div class="inputtext col-md-2 column" style="position:absolute;left:120px"> <a class="editable-click" href="javascript:void(0)"  id="linkedin" data-type="text" data-pk="<%=@mycoy.id %>" data-url="/updatelinkedin" data-title="Enter LinkedIn address"><%= @mycoy.company_url%>   </a></div>
                      </div>    
                    </div>

                  </div>
                </div> <!-- powerwidget-->
                <div class="powerwidget blue" data-widget-editbutton="false" data-widget-deletebutton="false">
                  <header>
                    <h2>Social Network</h2>
                  </header>
                  <div class="inner-spacer" style="position:relative">

                    <div class="row">  
                      <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" style="left:10px"> Company Facebook: </div>
                      <div class="form-group">
                        <div class="inputtext col-md-2 column" style="position:absolute;left:120px"> <a class="editable-click" href="javascript:void(0)"  id="facebook" data-type="text" data-pk="<%=@mycoy.id %>" data-url="/updatefacebook" data-title="Enter Facebook address"><%= @mycoy.company_facebook%>   </a></div>
                      </div>      
                    </div>
                    <div class="row">    
                      <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" style="left:10px">Company Twitter: </div>          
                      <div class="form-group">
                        <div class="inputtext col-md-2 column" style="position:absolute;left:120px"><a class="editable-click" href="javascript:void(0)"  id="twitter" data-type="text" data-pk="<%=@mycoy.id %>" data-url="/updatetwitter" data-title="Enter Twitter address"> </a></div>
                      </div>   
                    </div>
                    <div class="row">    
                      <div class="inputlabel col-md-2 col-lg-2 col-xs-12 column" style="left:10px">Company LinkedIn: </div>          
                      <div class="form-group">
                        <div class="inputtext col-md-2 column" style="position:absolute;left:120px"><a class="editable-click" href="javascript:void(0)"  id="twitter" data-type="text" data-pk="<%=@mycoy.id %>" data-url="/updatetwitter" data-title="Enter LinkedIn address"><%= @mycoy.company_linkedin%> </a></div>
                      </div>   
                    </div>
                  </div> <!-- inner space -->
                </div><!--powerwidget -->
              </div> <!-- <div id="edit-basic" class="tab-pane in active"> -->
                <div id="jobposting" class="tab-pane">


                </div> <!-- < class="tab-pane"> -->
                <div id="user" class="tab-pane">
                </div>

           <!-- <div class="row"> -->
            
               
        </div> <!-- <div class="tab-content profile-edit-tab-content"> -->
      </div> <!-- <div class="tabbable"> -->
</div> <!-- bootstrap-grid -->
</div> <!-- row -->
</div> <!-- power widget -->
</div> <!-- content-wrapper -->

        

<script type="text/javascript">


$(document).ready(function(){

  $.fn.editable.defaults.mode = 'popup';  
  $('#coyname').editable({
  });

  $('#industry').editable({
    emptytext: '--',
    // placeholder: '[Optional] Enter your achievement here'
  });

  $('#contactperson').editable({
    emptytext: '--',
  });

  $('#coysize').editable({   
    source: function() {
            return (<%= @coysize %>)
          }
    });

  $('#coyhq').editable({
    emptytext: '--',

  });

  $('#workinghours').editable({

    emptytext: '--',

  });


  $('#dresscode').editable({
    emptytext: '--',

  });

  $('#preflang').editable({
    emptytext: '--',

  });

  $('#coypromo').editable({
    emptytext: '--',

  });
  
  $('#coyintro').editable({
    emptytext: '--',

  });



  $('#nationality').editable({
       source: function() {
            return (<%= @countries %>)
          },
       success: function(response, newValue) {
          
          if (newValue != 157){  //we only look at Singapore at the moment.
             document.getElementById( 'spr_block' ).style.visibility = 'visible'; 
          };

          if (newValue == 157){
            document.getElementById( 'spr_block' ).style.visibility = 'hidden'; 
          } ;
        } //success
  });

  $('#linkedin').editable({

    emptytext: '--',
    // placeholder: '[Optional] Enter your achievement here'
  });

  $('#facebook').editable({
    emptytext: '--',
    // placeholder: '[Optional] Enter your achievement here'
  });

  $('#twitter').editable(
    {
      emptytext: '--',
    // placeholder: '[Optional] Enter your achievement here'

  });


  $('.date-picker').datepicker({autoclose:true}).next().on(ace.click_event, function(){
    $(this).prev().focus();
  });
         
  $('input[name="date-range-picker"]').daterangepicker({  //can be used for setting up job listing
  timePicker: false,
  singleDatePicker: true,
  showDropdowns: true,
  format: 'DD/MM/YYYY',
  }, function(start, end, label) {
    console.log(moment(start.format('YYYY-MM-DDTHH:mm:ss') + 'Z').utc().toISOString());
    from = moment(start.format('YYYY-MM-DDTHH:mm:ss') + 'Z').utc().toISOString();
     $.ajax({
        url: '/updatedob',
        type: 'POST',
        data: {"dob": from, "pk" : <%=@mycoy.id %>},
        beforeSend : function(){
          $("#saving_date").html("<div id='saver'><i class='fa fa-spinner fa-spin'></i></div>");
        },  
        success: function(response){
                    // newAlert("#alert_placeholder-tab", 'success', "Dates recorded");
                     $('#saver').fadeOut(1000, function() {
                      $(this).remove();
                     });
                  }
      });
  });       

 
});

</script>
<script>
      
      $("#agentcheck").on('change', function(){
          $.ajax({
            url: '/updateagent',
            type: 'POST',
            data: {"isagent": this.checked, "pk" : <%=@mycoy.id %>}
          });
      });

      $("#id-date-picker-1").on('change', function(){
          $.ajax({
            url: '/updatedob',
            type: 'POST',
            data: {"dob": this.value, "pk" : <%=@mycoy.id %>}
            
          });
      });   

    
</script>

