
    
    <div class="content-wrapper main-content-toggle-left"> 
      <!--Content Wrapper--><!--Horisontal Dropdown-->
      <nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
        <div class="cbp-hsinner">
          <ul class="cbp-hsmenu">
            <li> <a href="#"><span class="icon-bar"></span></a>
              <ul class="cbp-hssubmenu">
                <li><a href="#">
                  <div class="sparkle-dropdown"><span class="inlinebar">10,8,8,7,8,9,7,8,10,9,7,5</span>
                    <p class="sparkle-name">project income</p>
                    <p class="sparkle-amount">$23989 <i class="fa fa-chevron-circle-up"></i></p>
                  </div>
                  </a></li>
                <li><a href="#">
                  <div class="sparkle-dropdown"><span class="linechart">5,6,7,9,9,5,3,2,9,4,6,7</span>
                    <p class="sparkle-name">site traffic</p>
                    <p class="sparkle-amount">122541 <i class="fa fa-chevron-circle-down"></i></p>
                  </div>
                  </a></li>
                <li><a href="#">
                  <div class="sparkle-dropdown"><span class="simpleline">9,6,7,9,3,5,7,2,1,8,6,7</span>
                    <p class="sparkle-name">Processes</p>
                    <p class="sparkle-amount">890 <i class="fa fa-plus-circle"></i></p>
                  </div>
                  </a></li>
                <li><a href="#">
                  <div class="sparkle-dropdown"><span class="inlinebar">10,8,8,7,8,9,7,8,10,9,7,5</span>
                    <p class="sparkle-name">orders</p>
                    <p class="sparkle-amount">$23989 <i class="fa fa-chevron-circle-up"></i></p>
                  </div>
                  </a></li>
                <li><a href="#">
                  <div class="sparkle-dropdown"><span class="piechart">1,2,3</span>
                    <p class="sparkle-name">active/new</p>
                    <p class="sparkle-amount">500/200 <i class="fa fa-chevron-circle-up"></i></p>
                  </div>
                  </a></li>
                <li><a href="#">
                  <div class="sparkle-dropdown"><span class="stackedbar">3:6,2:8,8:4,5:8,3:6,9:4,8:1,5:7,4:8,9:5,3:5</span>
                    <p class="sparkle-name">fault/success</p>
                    <p class="sparkle-amount">$23989 <i class="fa fa-chevron-circle-up"></i></p>
                  </div>
                  </a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      
      <!--Breadcrumb-->
      <div class="breadcrumb clearfix">
        <ul>
          <li><a href="index-2.html"><i class="fa fa-home"></i></a></li>
          <li><a href="index-2.html">Dashboard</a></li>
          <li class="active">Data</li>
        </ul>
      </div>
      <!--/Breadcrumb--> 
      
      <!--Jumbotron-->
      <div class="jumbotron jumbotron6">
        <h1>Welcome to <strong>COTA</strong></h1>
        <p class="lead">COTA &#8212; the future of job search
          COTA is a cloud based recruitment tool that helps Recruiters reduce cost and increase the accuracy of hiring process by performing analytics on unstructured data of resumes and job descriptions</p>
        <small>COTA uses sophisticated data analytics to match the talents to career opportunities</small>
        <p><a href="#" class="btn margin-top btn-danger"><i class="fa fa-shopping-cart"></i> Start Tour</a></p>
      </div>
      <!--/Jumbotron--> 
      
      <!-- Widget Row Start grid -->
      <div class="row" id="powerwidgets">
        <div class="col-md-12 bootstrap-grid"> 
          
          <!-- New widget -->
          
          <div class="powerwidget powerwidget-as-portlet-white" id="serverstatuz-indexpage2">
            <header>
              <h2>Source Geo<small>Money!</small></h2>
            </header>
            <div>
              <div class="powerwidget-editbox">
                <div>
                  <label>Title:</label>
                  <input class="form-control" type="text" />
                </div>
                <div>
                  <label>Styles:</label>
                  <span data-widget-setstyle="pink" class="pink-btn"></span> <span data-widget-setstyle="blue" class="blue-btn"></span> <span data-widget-setstyle="dark-blue" class="dark-blue-btn"></span> <span data-widget-setstyle="green" class="green-btn"></span> <span data-widget-setstyle="green-alt" class="green-alt-btn"></span> <span data-widget-setstyle="green-acid" class="green-acid-btn"></span> <span data-widget-setstyle="yellow" class="yellow-btn"></span> <span data-widget-setstyle="purple" class="purple-btn"></span> <span data-widget-setstyle="cold-grey" class="cold-grey-btn"></span> <span data-widget-setstyle="dark-cold-grey" class="dark-cold-grey-btn"></span> <span data-widget-setstyle="orange" class="orange-btn"></span> <span data-widget-setstyle="red" class="red-btn"></span> <span data-widget-setstyle="dark-red" class="dark-red-btn"></span> <span data-widget-setstyle="black" class="black-btn"></span> </div>
              </div>
              <div class="inner-spacer">
                <div class="row"> 
                  <!--Row-->
                  
                  <div class="col-md-12">
                    <div class="flotchart-container  margin-negative-top-10px">
                      <div id="placeholder9" class="flotchart-placeholder"></div>
                    </div>
                    <div class="row margin-bottom-10px">
                      <ul class="countries-demo" id="choices">
                        <li class="col-md-2 col-sm-4">
                          <h3>UK <span class="label bg-marine"><i class="fa fa-caret-up"></i> 22%</span></h3>
                          <div class="orb-form">
                            <label class="toggle" for="iduk">
                              <input name="uk" checked id="iduk" type="checkbox">
                              Uncheck to hide
                              
                              <i></i></label>
                          </div>
                        </li>
                        <li class="col-md-2 col-sm-4">
                          <h3>Japan <span class="label bg-red"><i class="fa fa-caret-down"></i> 5%</span></h3>
                          <div class="orb-form">
                            <label class="toggle" for="idjapan">
                              <input name="japan" checked id="idjapan" type="checkbox">
                              Uncheck to hide
                              
                              <i></i></label>
                          </div>
                        </li>
                        <li class="col-md-2 col-sm-4">
                          <h3>USA <span class="label bg-marine"><i class="fa fa-caret-up"></i> 16%</span></h3>
                          <div class="orb-form">
                            <label class="toggle" for="idusa">
                              <input name="usa" checked id="idusa" type="checkbox">
                              Uncheck to hide
                              
                              <i></i></label>
                          </div>
                        </li>
                        <li class="col-md-2 col-sm-4">
                          <h3>Russia <span class="label bg-marine"><i class="fa fa-caret-up"></i> 7%</span></h3>
                          <div class="orb-form">
                            <label class="toggle" for="idrussia">
                              <input name="russia" checked id="idrussia" type="checkbox">
                              Uncheck to hide
                              
                              <i></i></label>
                          </div>
                        </li>
                        <li class="col-md-2 col-sm-4">
                          <h3>China <span class="label bg-marine"><i class="fa fa-caret-up"></i> 1%</span></h3>
                          <div class="orb-form">
                            <label class="toggle" for="idchina">
                              <input name="china" checked id="idchina" type="checkbox">
                              Uncheck to hide
                              
                              <i></i></label>
                          </div>
                        </li>
                        <li class="col-md-2 col-sm-4">
                          <h3>Others <span class="label bg-red"><i class="fa fa-caret-down"></i> 13%</span></h3>
                          <div class="orb-form">
                            <label class="toggle" for="idothers">
                              <input name="others" checked id="idothers" type="checkbox">
                              Uncheck to hide
                              
                              <i></i></label>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <!--/Row--> 
                    
                  </div>
                  <!--/Col-md-12--> 
                </div>
                <!--/Row--> 
                
              </div>
            </div>
          </div>
          
          <!-- End .powerwidget --> 
          
          <!-- New widget-->
          <!-- Placeholder -->
          <!--End Widget --> 
          
          <!-- New widget -->
          <div class="powerwidget blue" data-widget-editbutton="false">
            <header>
              <h2>Insights<small>Automated job search in progress</small></h2>
            </header>
            <div class="inner-spacer">
              <div class="row"> 
                <!--Row-->
                <div class="col-md-6">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover margin-0px airtable">
                      <thead>
                        <tr>
                          <th colspan="2">Match Date </th>
                          <th >Match Score</th>
                          <th >Match Rank</th>
                          <th >Job Function</th>
                          <th >Job Level</th>
                          <th >Salary Range</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @usermatchjoblist.each do |i| %>
                        <tr>

                          <td><h4><%= @usermatchjoblist.get(i).datematched.strftime("%d/%m/%Y") %></h5>
                            </td>
                          <td><h4 class="text-center"><span ><%= @usermatchjoblist.get(i).matchscore %></h4></td>
                          <td><h4 class="text-center"><span class="num"><%= @usermatchjoblist.get(i).matchrank %></span></h4></td>
                          <td><h5 class="text-center"><span ><%= @usermatchjoblist.get(i).jobfunction %></h5></td>
                          <td><h5 class="text-center"><span ><%= @usermatchjoblist.get(i).joblevel %></h5></td>
                          <td><h5 class="text-center"><span ><%= @usermatchjoblist.get(i).jobsalaryrange %></h5></td>
                        </tr>
                        <% end %>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th >Match Date </th>
                          <th >Match Score</th>
                          <th >Match Rank</th>
                          <th >Job Function</th>
                          <th >Job Level</th>
                          <th >Salary Range</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover margin-0px airtable">
                      <thead>
                        <tr>
                          <th colspan="2">Job Type </th>
                          <th >No. of Positions</th>
                          <th >No. of Job Seekers</th>
                          <th >Your Score</th>
                          <th >Your Rank</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><span class="num">1</span></td>
                          <td><h5>System Administrator</h5>
                            <small><i class="fa fa-clock-o"></i> Last Update</small> <span class="badge">12:20</span></td>
                          <td><h4 class="text-center"><span >10</h4></td>
                          <td><h4 class="text-center"><span >50</h4></td>
                          <td><h4 class="text-center"><span >250</h4></td>
                          <td><h4 class="text-center"><span >5</h4></td>
                        </tr>
                        <tr>
                          <td><span class="num">2</span></td>
                          <td><h5>System Administrator</h5>
                            <small><i class="fa fa-clock-o"></i> Last Update</small> <span class="badge">12:20</span></td>
                          <td><h4 class="text-center"><span >10</h4></td>
                          <td><h4 class="text-center"><span >50</h4></td>
                          <td><h4 class="text-center"><span >250</h4></td>
                          <td><h4 class="text-center"><span >5</h4></td>
                        </tr>
                        <tr>
                          <td><span class="num">3</span></td>
                          <td><h5>System Administrator</h5>
                            <small><i class="fa fa-clock-o"></i> Last Update</small> <span class="badge">12:20</span></td>
                          <td><h4 class="text-center"><span >10</h4></td>
                          <td><h4 class="text-center"><span >50</h4></td>
                          <td><h4 class="text-center"><span >250</h4></td>
                          <td><h4 class="text-center"><span >5</h4></td>
                        </tr>
                        <tr>
                          <td><span class="num">4</span></td>
                          <td><h5>System Administrator</h5>
                            <small><i class="fa fa-clock-o"></i> Last Update</small> <span class="badge">12:20</span></td>
                          <td><h4 class="text-center"><span >10</h4></td>
                          <td><h4 class="text-center"><span >50</h4></td>
                          <td><h4 class="text-center"><span >250</h4></td>
                          <td><h4 class="text-center"><span >5</h4></td>
                        </tr>
                        <tr>
                          <td><span class="num">5</span></td>
                          <td><h5>System Administrator</h5>
                            <small><i class="fa fa-clock-o"></i> Last Update</small> <span class="badge">12:20</span></td>
                          <td><h4 class="text-center"><span >10</h4></td>
                          <td><h4 class="text-center"><span >50</h4></td>
                          <td><h4 class="text-center"><span >250</h4></td>
                          <td><h4 class="text-center"><span >5</h4></td>
                        </tr>
                        <tr>
                          <td><span class="num">6</span></td>
                          <td><h5>System Administrator</h5>
                            <small><i class="fa fa-clock-o"></i> Last Update</small> <span class="badge">12:20</span></td>
                          <td><h4 class="text-center"><span >10</h4></td>
                          <td><h4 class="text-center"><span >50</h4></td>
                          <td><h4 class="text-center"><span >250</h4></td>
                          <td><h4 class="text-center"><span >5</h4></td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th colspan="2">Job Type </th>
                          <th >No. of Positions</th>
                          <th >No. of Job Seekers</th>
                          <th >Your Score</th>
                          <th >Your Rank</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
              <!--/Row--> 
            </div>
          </div>
          <!-- End Widget --> 
          
        </div>
        <div class="col-md-6 bootstrap-grid"> 
          
          <!-- New widget -->

          <!-- End Widget --> 
          
        </div>
        <!-- /Inner Row Col-md-6 -->
        
        <div class="col-md-6 bootstrap-grid"> 
          
          <!-- New widget -->

          <!-- /New widget --> 
          
          <!-- New widget -->

          <!-- End Widget --> 
          
        </div>
        <!-- /Inner Row Col-md-6 --> 
        
      </div>
      <!-- /Widgets Row End Grid--> 
    </div>
    <!-- / Content Wrapper --> 
