<!-- force reload of the page when someone return back to this page from another page -->
<input type="hidden" id="refreshed" value="no">
<script type="text/javascript">
onload=function(){
var e=document.getElementById("refreshed");
if(e.value=="no")e.value="yes";
else{e.value="no";location.reload();}
}
</script>


<!--Content Wrapper-->
      <div class="content-wrapper main-content-toggle-left"> 
        <nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">

      </nav>
            <!--Breadcrumb-->
      <div class="breadcrumb clearfix">
        <ul>
          <li><a href="/"><i class="fa fa-home"></i></a></li>
          <li><a href="/edge">Dashboard</a></li>
          <li class="active">Profile</li>
        </ul>
      </div>
      <!--/Breadcrumb--> 
    <div class="page-header">
      <h1>Profile</h1>
    </div>


<div class="tabbable">
        <ul class="nav nav-tabs padding-16">
          <li class="active">
            <a data-toggle="tab" href="#edit-basic">
              <i class="green icon-edit bigger-125"></i>
              Basic Info
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#edit-password">
              <i class="blue icon-key bigger-125"></i>
              Password
            </a>
          </li>
        </ul>
        <div class="tab-content">
        <div id="edit-basic" class="tab-pane in active">
          <h3 class="header smaller lighter blue">General</h3>

              <div  class=" row"> 
                <div class="col-md-2 column">
                  <span class="profile-picture" id="pic">
                    <img id="avatar" class="editable img-responsive" alt="Avatar" src=<%= @userprofile.pictureurl %> />

                  </span>
                  <div class="row"><!-- Upload Row -->
                    <div class="col-sm-6">
                        <script src='/vendor/jqueryfileupload/js/vendor/jquery.ui.widget.js' type='text/javascript'></script>
                        <script src='/vendor/jqueryfileupload/js/jquery.iframe-transport.js' type='text/javascript'></script>
                        <script src='/vendor/jqueryfileupload/js/jquery.fileupload.js' type='text/javascript'></script>
                        <script src='/vendor/jqueryfileupload/js/jquery.fileupload-process.js' type='text/javascript'></script>
                        <script src='/vendor/jqueryfileupload/js/jquery.fileupload-validate.js' type='text/javascript'></script>
                        <script src='/vendor/cloudinary/jquery.cloudinary.js' type='text/javascript'></script>
                        <script type="text/javascript">
                            $.cloudinary.config({cloud_name:'dashy', api_key:'219441847515364'});
                        </script> 

                          <span class="btn btn-success fileinput-button">
                          <i class="glyphicon glyphicon-plus"></i>
                              <span>Upload Picture</span>
                          <!-- <input name="file" type="file" id="fileupload" class="cloudinary-fileupload" data-cloudinary-field="image_upload" data-form-data=""> -->
                          <input name="file" type="file" id="fileupload" class="cloudinary-fileupload" data-cloudinary-field="image_upload" ></span>
                        <span style="visibility:hidden" class="progress"> Uploading in progress</span>
                        <script type="text/javascript">
                              $(function(){
                                  var opts= <%= @userprofile.cloudinaryjson %>;
                                   $('#fileupload').fileupload({
                                              // The regular expression for allowed file types, matches
                                              // against either file type or file name:
                                              formData: opts,
                                              url: "https://api.cloudinary.com/v1_1/dashy/upload",
                                              acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                                              // The maximum allowed file size in bytes:
                                              maxFileSize: 10000000, // 10 MB
                                              // The minimum allowed file size in bytes:
                                              minFileSize: 1, // No minimal file size
                                              // The limit of files to be uploaded:
                                              maxNumberOfFiles: 10
                                            }).on('fileuploadprocessalways', function (e, data) {
                                              var currentFile = data.files[data.index];
                                              if (data.files.error && currentFile.error) {
                                                // there was an error, do something about it
                                                // newAlert("#alert_placeholder-tab",'danger', currentFile.error);
                                              
                                              }
                                              });
                              
                              
                                  
                                }); //function

                            $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {  
                   
                                     $.ajax({
                                          url: '/picuploaded',
                                          type: 'POST',
                                          data: {"picurl": data.result.url, "pk" : <%=@userprofile.id %>},
                                          success: function(response){
                                            //tt= "<img id='avatar' class='img-responsive' src=<%= @userprofile.pictureurl %> />"; //change to image location
                                            tt = "<img id='avatar' class='img-responsive' src=".concat(data.result.url," />");
                                            $('#pic').html(tt);  //to refresh this page picture
                                            $('#pic2').html(tt); //for side bar picture
                                            // newAlert("#alert_placeholder-tab", 'success', "File uploaded successfully!");
                                             
                                          }
                                     }); //ajax
                                     return true;
                            }); //cloudinary done

                             $('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) {
                                $('.progress').attr({
                                    style : "visibility:show",
                                });
                                // $('.status_value').text('Uploading...');
                            });
                             $('.cloudinary-fileupload').bind('fileuploadstop', function(e, data) {
                                $('.progress').attr({
                                    style : "visibility:hidden",
                                });
                                
                            });
                        </script> 
                    </div>
                   </div> <!--upload row-->


                </div>
                <div class="col-md-10 column">   
                  <div class="row">
                    <div class="col-md-2 column">First Name: </div>  
                    <div class="col-md-2 column"> <a href="javascript:void(0)" id="firstname" data-type="text" data-pk="<%=@userprofile.id %>" data-url="/updateprofile" data-title="Enter first name"><%= @userprofile.firstname %></a></div>
                    <div class="col-md-2 column"> Last Name:  </div>
                    <div class="col-md-2 column"><a href="javascript:void(0)" id="lastname" data-type="text" data-pk="<%=@userprofile.id %>" data-url="/updateprofile" data-title="Enter last name"><%= @userprofile.lastname %></a></div>   
                    <div class="col-md-4 column">  </div>        
                  </div> <!-- row -->
                  <div class="space-6"></div>
                  <div class="row">
                    <div class="col-md-2 column"> Age: </div>  
                    <div class="col-md-2 column"><a href="javascript:void(0)"  id="age" data-type="text" data-pk="<%=@userprofile.id %>" data-url="/updateprofile" data-title="Enter age"><%= @userprofile.age %></a> </div> 
                    <div class="col-md-2 column"> <label class="custo1 control-label no-padding-right" for="id-date-picker-1"> Date of Birth</label></div>
                    <div class="col-md-3 column"> 
                      <div class="input-group">
                        <input readonly="true" style="width: 100px; height: 25px;" class="form-control date-picker rdonly" id="id-date-picker-1"  type="text" data-date-format="dd-mm-yyyy" value="<%= @userprofile.dob.strftime("%d/%m/%Y") %>"></input>
                      </div>
                    </div>
                    <div class="col-md-1 column"> </div> 
                  </div> <!-- row -->
                  
                  <div class="row">   
                    <div class="col-md-2 column">Gender:</div>                 
                    <div class="col-md-3 column"> <a href="javascript:void(0)"  id="gender" data-type="select" data-pk="<%=@userprofile.id %>" data-url="/updateprofile" data-title="Enter gender"><%= @userprofile.gender == "M" ? "Male" : "Female" %> </a> </div> 
                  </div>
                  <div class="space-6"></div>
                  <div class="row">   

                    <div class="col-md-2 column"> Nationality: </div>
                    <div class="col-md-2 column"><a href="javascript:void(0)" id="nationality" data-type="select"  data-pk="<%=@userprofile.id %>" data-url="/updateprofile" data-title="Enter nationality"><%= @cmaster.get(@userprofile.nationality).countryname %> </a>  </div>
                    <div class="col-md-2 column">   
                        <div id="spr_block" style="visibility: hidden">                
                              Singapore PR?
                                <label>
                                  <input id="sprcheck" name="singaporepr" type="checkbox" class="ace" <%= @userprofile.singaporepr.to_s == "true" ? "checked" : "unchecked" %> />
                                  <span class="lbl"> </span>
                                </label>
                        </div>
                    </div>
                    <div class="col-md-4 column">  </div>
                  </div>
                  <div class="space-6"></div>
 
                </div> <!-- column -->
            </div> <!-- <div id="user-profile-1" class="user-profile row"> -->
            <div class="space"></div>
            <h3 class="header smaller lighter blue">Contact</h3>
            <div class="row">   
                <div class="col-md-2 column">  
                   Mobile #:
                </div>
                <div class="col-md-3 column">  
                   <a href="javascript:void(0)"  id="contactnumber" data-type="text" data-pk="<%=@userprofile.id %>" data-url="/updateprofile" data-title="Enter mobile number"><%= @userprofile.contactnumber %> </a> 
                </div>
              </div>
              <div class="space-6"></div>
              <div class="row">  
                <div class="col-md-2 column">     
                   Address:
                </div>
                <div class="col-md-3 column">  
                   <a href="javascript:void(0)"  id="address" data-type="text" data-pk="<%=@userprofile.id %>" data-url="/updateprofile" data-title="Enter address"><%= @userprofile.address %>   </a>
                </div>
              </div>
              <div class="space-6"></div>
              <div class="row">  
                <div class="col-md-2 column">  
                   Email:
                </div>
                <div class="col-md-3 column">  
                   <a href="javascript:void(0)"  id="email" data-type="text" data-pk="<%=@userprofile.id %>" data-url="/updateprofile" data-title="Enter email address"><%= @userprofile.email %>   </a>
                </div>
              </div>
            <div class="space"></div>
            <h3 class="header smaller lighter blue">Social</h3>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> LinkedIn </label>
                <p> <input type="text" id="form-field-1"  /> </p>
            </div>    
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Facebook</label>
                <p> <input type="text" id="form-field-1"  /> </p>
            </div>                  
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Twitter</label>
                <p> <input type="text" id="form-field-1"  /> </p>
            </div>            
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Github</label>
                <p> <input type="text" id="form-field-1"  /> </p>
            </div>       
          </div> <!-- <div id="edit-basic" class="tab-pane in active"> -->
          <div id="edit-password" class="tab-pane">
              <div class="space-10"></div>
              <div class="form-group">
                  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Change password </label>
                  <p> <input type="text" id="form-field-1"  /> </p>
              </div> 
          </div> <!-- <div id="edit-password" class="tab-pane"> -->

     <!-- <div class="row"> -->
      
         
  </div> <!-- <div class="tab-content profile-edit-tab-content"> -->
</div> <!-- <div class="tabbable"> -->

</div> <!-- page-content -->

        

<script type="text/javascript">


$(document).ready(function(){

  $.fn.editable.defaults.mode = 'popup';  
  $('#firstname').editable();
  $('#lastname').editable();
  $('#age').editable();
  $('#gender').editable({   
    source: [
      {value: "M", text: 'Male'},
      {value: "F", text: 'Female'},
    ]
  });
  $('#contactnumber').editable();
  $('#address').editable();
  $('#email').editable();
  $('#nationality').editable({
       source: function() {
            return (<%= @countries %>)
          },
       success: function(response, newValue) {
          
          if (newValue != 156){
             document.getElementById( 'spr_block' ).style.visibility = 'visible'; 
          };

          if (newValue == 156){
            document.getElementById( 'spr_block' ).style.visibility = 'hidden'; 
          } ;
        } //success
  });


  var nation=document.getElementById( 'nationality' ).textContent;
  if (nation.indexOf("Singapore") > -1){
    document.getElementById( 'spr_block' ).style.visibility = 'hidden'; 
  } else
  {
    document.getElementById( 'spr_block' ).style.visibility = 'visible'; 
  }; 

  $('.date-picker').datepicker({autoclose:true}).next().on(ace.click_event, function(){
    $(this).prev().focus();
  });
         
        

 
});

</script>
<script>
      $("#sprcheck").on('change', function(){
          $.ajax({
            url: '/updatespr',
            type: 'POST',
            data: {"singaporepr": this.checked, "pk" : <%=@userprofile.id %>}
          });
      });

      $("#id-date-picker-1").on('change', function(){
          $.ajax({
            url: '/updatedob',
            type: 'POST',
            data: {"dob": this.value, "pk" : <%=@userprofile.id %>}
            
          });
      });   

    
</script>

