
<% content_for(:title) { "Career Dashboard" } %>

<script type='text/javascript'>
  // $(function() {
  //   Dashing.widget_base_dimensions = [310, 320]
  //   Dashing.numColumns = 4
  //  });    
$(document).ready(function() {
    $('#matchjobtable').dataTable( {
        "scrollY": 200,
        "ScrollX": true,
        "iDisplayLength": 10,
        "order": [[ 0, "desc" ]],
        "scrollCollapse": true,
        "jQueryUI": false,
    } );
} );
</script>


<style>
thead, tr, th, td { 
        white-space: nowrap; 

      }
    div.dataTables_wrapper {
        width: 600px;
        margin: 0 auto;
        text-align:center;
    }
table.dataTable thead th,
table.dataTable tfoot th {

  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 300; 
  }

#badges {width:1000px; margin:15px 15px 15px 15px; text-align:center; }
#badges > *{
    float:left;


}


</style>


<!-- <div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id=<%= @emailme  + "-seeker_profile" %> data-view="Profile" data-image="/logo.png" data-seekername="<%= @userme %>" ></div>

    </li>    

</div> 

 <li style="color:grey;background:white" data-row="2" data-col="1" data-sizex="1" data-sizey="1"> 


</li>
</ul>

  -->



<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  </script>

  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a href="/edge">Home</a>
    </li>
    <li class="active">Profile</li>
  </ul><!-- /.breadcrumb -->

</div>

<div class="page-content">
  <div class="page-content-area">
    <div class="page-header"> </div>
      <div class="container-fluid">
           <div class="row">
                <div class="col-md-1column"></div>    
                <div class="col-md-8 column">
                    <div class="infobox infobox-orange2">
                        <div class="infobox-chart">
                            <span class="sparkline" data-values="196,128,202,177,154,94,100,170,224"></span>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number">6,251</span>
                            <div class="infobox-content">points</div>
                        </div>

                        <div class="badge badge-success">
                            7.2%
                            <i class="ace-icon fa fa-arrow-up"></i>
                        </div>
                    </div> <!-- "infobox infobox-orange2" -->

                    <div class="infobox infobox-blue2">
                        <div class="infobox-progress">
                            <div class="easy-pie-chart percentage" data-percent="42" data-size="46">
                                <span class="percent">42</span>%
                            </div>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-text">Progress to next level</span>

                            <div class="infobox-content">
                                <span class="bigger-110">~</span>
                                XXX XXX
                            </div>
                        </div>
                    </div>  <!-- "infobox infobox-blue2" -->
                   <!--  <a href="#badgemodal" data-toggle="modal" data-keyboard="false" data-backdrop="static"> -->
                    <a href="#badgemodal" data-toggle="modal">    
                    <div class="infobox infobox-red">
                        <div class="infobox-icon">
                            <i class="ace-icon fa fa-flask"></i>
                        </div>
                            <div class="infobox-data" >
                                <span class="infobox-data-number">10</span>
                                <div class="infobox-content">Badges</div>
                            </div>
                            

                    </div> <!-- infobox infobox-red -->
                    </a>
                                                 <!--  Modal -->
                             <div class="modal fade" id="badgemodal" >
                               <div class="modal-dialog">
                                 <div class="modal-content">
                                    <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                          <h4 class="modal-title">My badges</h4>                                                               
                                    </div> <!-- "modal-header" -->
                                        <div class="modal-body" style="padding-left:45px;">      
                                            <div id="badges"><img src="/images/badges/acorn.png" width="50" height="50"></div>
                                            <div id="badges"><img src="/images/badges/adduser.png" width="50" height="50"></div>
                                            <div id="badges"><img src="/images/badges/arrow.png" width="50" height="50"></div>
                                            <div id="badges"><img src="/images/badges/badge.png" width="50" height="50"></div>     

                                        </div> <!-- "modal-body" -->
                                        <div class="modal-footer">
                                             <!-- <input type="submit" name="save" formaction="/jobupdate" value="Submit" /> -->
                                             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div> <!-- footer -->
                                 </div> <!-- modal-content -->
                               </div><!-- modal-dialog -->
                             </div><!-- modal  -->    

                </div> <!-- "col-md-5 column" -->
                                <!-- <p>Click here to find out more about badges and how you can earn them! Use Info tips to display</p> -->
                          <!--       <div id="badges"><img src="/images/badges/acorn.png" width="50" height="50"></div>
                                <div id="badges"><img src="/images/badges/adduser.png" width="50" height="50"></div>
                                <div id="badges"><img src="/images/badges/arrow.png" width="50" height="50"></div>
                                <div id="badges"><img src="/images/badges/badge.png" width="50" height="50"></div>    -->

          </div> <!-- Row 1-->   

          <div class="row">
            <div class="col-md-7 column">
                <div class="widget-box">
                        <div class="widget-header widget-header-flat widget-header-small">
                            <h5 class="widget-title">
                                <i class="ace-icon fa fa-signal"></i>
                                Competitive Chart
                            </h5>

                            <div class="widget-toolbar no-border">
                                <div class="inline dropdown-hover">
                                    <button class="btn btn-minier btn-primary">
                                        System Administrator
                                        <i class="ace-icon fa fa-angle-down icon-on-right bigger-110"></i>
                                    </button>

                                    <ul class="dropdown-menu dropdown-menu-right dropdown-125 dropdown-lighter dropdown-close dropdown-caret">
                                        <li class="active">
                                            <a href="#" class="blue">
                                                <i class="ace-icon fa fa-caret-right bigger-110">&nbsp;</i>
                                                System Administrator
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ace-icon fa fa-caret-right bigger-110 invisible">&nbsp;</i>
                                                Developer
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ace-icon fa fa-caret-right bigger-110 invisible">&nbsp;</i>
                                                IT Manager
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ace-icon fa fa-caret-right bigger-110 invisible">&nbsp;</i>
                                                Network Engineer
                                            </a>
                                        </li>
                                    </ul>
                                </div> <!--"inline dropdown-hover" -->
                            </div> <!-- "widget-toolbar no-border"-->
                        </div> <!-- "widget-header widget-header-flat widget-header-small" -->


                        <div class="widget-body">
                            <div class="widget-main">
                                <div id="piechart-placeholder"></div>
                                    <div id="competitivechart" style="min-width: 310px; max-width: 600px; height: 300px; margin: 0 auto"></div>
                                <div class="hr hr8 hr-double"></div>

                                <div class="clearfix">
                                    <div class="grid3">
                                        <span class="grey">
                                            <i class="ace-icon fa fa-facebook-square fa-2x blue"></i>
                                            &nbsp; Job matched
                                        </span>
                                        <h4 class="bigger pull-right">1,255</h4>
                                    </div>

                                    <div class="grid3">
                                        <span class="grey">
                                            <i class="ace-icon fa fa-twitter-square fa-2x purple"></i>
                                            &nbsp; Failed Matches
                                        </span>
                                        <h4 class="bigger pull-right">941</h4>
                                    </div>

                                    <div class="grid3">
                                        <span class="grey">
                                            <i class="ace-icon fa fa-pinterest-square fa-2x red"></i>
                                            &nbsp; Job fit %
                                        </span>
                                        <h4 class="bigger pull-right">1,050</h4>
                                    </div>
                                </div>
                            </div><!-- /.widget-main -->
                        </div><!-- /.widget-body -->
                    </div><!-- /.widget-box -->
                </div> <!-- "col-md-7 column" -->
                <div class="col-md-5 column">
                    <div class="widget-box transparent">
                        <div class="widget-header widget-header-flat">
                            <h4 class="widget-title lighter"><i class="ace-icon fa fa-signal"></i>XXX</h4>                    
                             <div class="widget-toolbar"><a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a></div>
                        </div> <!-- "widget-header widget-header-flat" -->
                        <div class="widget-body">

                        </div> <!-- "widget-body" -->
                    </div> <!-- "widget-box transparent" -->
                </div> <!-- "col-md-5 column" -->

            </div> <!-- row -->

          <div class="row">   <!-- Tab content row -->
            <div class="col-md-7 column">  
                <div class="widget-box transparent">
                  <div class="widget-header widget-header-flat">
                    <h4 class="widget-title lighter"><i class="ace-icon fa fa-signal"></i>Job Matching History</h4>                    
                    <div class="widget-toolbar"><a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a></div>
                  </div> <!-- "widget-header widget-header-flat" -->
                  <div class="widget-body">
                    <div class="widget-main padding-4">   
                        <table id="matchjobtable" class="display compact" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                   <th class="align-center">Match <br>Date </th>
                                   <th class="align-center">Match <br>Score</th>
                                   <th class="align-center">Match<br> Rank  </th>
                                   <th class="align-center">Job <br>Function</th> 
                                   <th class="align-center">Job <br> Level</th>
                                   <th class="align-center">Salary <br>Range</th>    
                                </tr>
                            </thead>
                            <tbody >
                                <% @usermatchjoblist.each do |i| %>
                                <tr>
                                   <td><%= @usermatchjoblist.get(i).datematched.strftime("%d/%m/%Y") %></td>
                                   <td><%= @usermatchjoblist.get(i).matchscore %></td>
                                   <td><%= @usermatchjoblist.get(i).matchrank %></td>
                                   <td><%= @usermatchjoblist.get(i).jobfunction %></td>
                                   <td><%= @usermatchjoblist.get(i).joblevel %></td>
                                   <td><%= @usermatchjoblist.get(i).jobsalaryrange %></td>
                                </tr>
                                <% end %>
                           </tbody>
                        </table>
                      </div> <!-- "widget-main padding-4" -->
                  </div> <!-- "widget-body" -->
                </div> <!-- "widget-box transparent" -->
            </div> <!-- "col-md-7 column" --> 
            <div class="col-md-5 column">
              <div class="widget-box transparent">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title lighter"><i class="ace-icon fa fa-signal"></i>Top 5 IT Job Titles</h4>
                    <div class="widget-toolbar"><a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a></div>
                </div> <!-- "widget-header widget-header-flat" -->
                <div class="widget-body">
                    <div class="widget-main padding-7">
                      <div id="top5jobtitles" style="min-width: 310px; height: 250px; margin: 0 auto"></div>
                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
              </div><!-- /.widget-box -->
            </div>  <!-- "col-md-5 column" -->
          </div> <!-- row 1 -->
          <div class="row">
            <div class="col-md-5 column">
                <div class="widget-box transparent">
                  <div class="widget-header widget-header-flat">
                    <h4 class="widget-title lighter"><i class="ace-icon fa fa-signal"></i>Job Seeking Leadership Board</h4>                    
                    <div class="widget-toolbar"><a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a></div>
                  </div> <!-- "widget-header widget-header-flat" -->
                  <div class="widget-body">
                    <div class="widget-main padding-4">   
                        <table id="matchjobtable" class="display compact" cellspacing="0" width="100%">
                            <thead>
                                <tr> 
                                   <th class="align-center">Job <br> Type </th> <!-- different job titles consolidated into a few high level type -->
                                   <th class="align-center">No. of <br> Positions</th>
                                   <th class="align-center">No. of<br> Job Seekers  </th>
                                   <th class="align-center">Your <br> Score</th> 
                                   <th class="align-center">Your <br> Rank</th> 
                                </tr>
                                <tr>
                                    <td class="align-center">System Administrator</td>
                                    <td class="align-center">100</td>
                                    <td class="align-center">250</td>
                                    <td class="align-center">89</td>
                                    <td class="align-center">4</td>
                                </tr>
                            </thead>
                            <tbody >
                                <% @usermatchjoblist.each do |i| %>
                                <tr>

                                </tr>
                                <% end %>
                           </tbody>
                        </table>
                      </div> <!-- "widget-main padding-4" -->
                  </div> <!-- "widget-body" -->
                </div> <!-- "widget-box transparent" -->
            </div> <!-- "col-md-5 column"-->
            <div class="col-md-7 column">
                

            </div> <!-- "col-md-5 column"-->
          </div> <!-- row -->


          <div class="row"> <!-- Start of Row 2 -->
            <div class="col-md-1 column"></div>
            <div class="col-md-5 column">
              <div class="widget-box transparent">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title lighter"><i class="ace-icon fa fa-signal"></i>Top 5 Job Seeker's Nationalities</h4>
                    <div class="widget-toolbar"><a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a></div>
                </div> <!-- "widget-header widget-header-flat" -->
                <div class="widget-body">
                    <div class="widget-main padding-4">
                      <div id="topnationalities" style="min-width: 310px; max-width: 800px; height: 300px; margin: 0 auto"></div>
                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
              </div><!-- /.widget-box -->
            </div>  <!-- "col-md-5 column" -->
            <div class="col-md-5 column">
              <div class="widget-box transparent">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title lighter"><i class="ace-icon fa fa-signal"></i>Top 10 Skills in Demand</h4>
                    <div class="widget-toolbar"><a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a></div>
                </div> <!-- "widget-header widget-header-flat" -->
                <div class="widget-body">
                    <div class="widget-main padding-4">
                      <div id="topskills" style="min-width: 310px; height: 300px; max-width: 600px; margin: 0 auto"></div></div>
                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
              </div><!-- /.widget-box -->
            </div>  <!-- "col-md-5 column" -->
            <div class="col-md-1 column"></div>
          </div> <!-- End of row 2 -->
          
          <div class="row"> <!-- Start of Row 3 -->
            <div class="col-md-1 column"></div>
            <div class="col-md-5 column">
              <div class="widget-box transparent">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title lighter"><i class="ace-icon fa fa-signal"></i>Top 5 hiring Industries</h4>
                    <div class="widget-toolbar"><a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a></div>
                </div> <!-- "widget-header widget-header-flat" -->
                <div class="widget-body">
                    <div class="widget-main padding-4">
                      <div id="topindustries" style="min-width: 310px; max-width: 800px; height: 300px; margin: 0 auto"></div>
                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
              </div><!-- /.widget-box -->
            </div>  <!-- "col-md-5 column" -->
            <div class="col-md-5 column">
              <div class="widget-box transparent">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title lighter"><i class="ace-icon fa fa-signal"></i>Technology Trend to take note of</h4>
                    <div class="widget-toolbar"><a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a></div>
                </div> <!-- "widget-header widget-header-flat" -->
                <div class="widget-body">
                    <div class="widget-main padding-4">
                      ---
                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
              </div><!-- /.widget-box -->
            </div>  <!-- "col-md-5 column" -->
            <div class="col-md-1 column"></div>
          </div> <!-- End of row 3 -->
      </div> <!--container-->

</div> <!-- page-content-area -->
 </div> <!--"page-content" -->

<script>
  $(function () {
               $('#top5jobtitles').highcharts({
            chart: {
                type: 'bar',
                width: 400
            },
            title: {
                text: ''
            },
            exporting: { enabled: false },
            xAxis: {
                 categories: ['IT Professionals']
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                name: 'Network Engineer',
                data: [80]
            }, {
                name: 'System Administrator',
                data: [200]
            }, {
                name: 'DBA',
                data: [10]
            }, {
                name: 'IT Manager',
                data: [100]
            }, {
                name: 'Developer',
                data: [300]
            }]
        }); //End top 5 IT JObs

        $('#topnationalities').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: ''
            },
            legend: {
            enabled: false
            },
            xAxis: {
                categories: ['Singapore', 'Indonesia', 'Malaysia', 'Philippines', 'Japan'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Number of Job Seekers',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            
            exporting: { enabled: false },
            tooltip: {
                valueSuffix: ''
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            
            credits: {
                enabled: false
            },
            series: [{
                name: 'Number of Job Seekers',
                data: [107, 31, 635, 203, 50]
            }]
        });
        
        $('#topskills').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 0,//null,
                plotShadow: false,
                type: 'pie',
                width: 480
            },
            title: {
                text: ''
            },
            subtitle: {
                text: '',
                x: -20
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            exporting: { enabled: false },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Hiring %',
                data: [
                    {
                        name: 'Cloud Computing',
                        y: 10,
                    },
                    {
                        name: 'Windows 8',
                        y: 20,
                    },
                    {
                        name: 'Remote Computing',
                        y: 8,
                    },
                    {
                        name: 'Netapp',
                        y: 2,
                    },
                    {
                        name: 'Windows Server 2013',
                        y: 15,
                    },
                    {
                        name: 'Linux',
                        y: 15,
                    },
                    {
                        name: 'C++',
                        y: 5,
                    },
                    {
                        name: 'Java',
                        y: 6,
                    },
                    {
                        name: 'Ruby on Rails',
                        y: 1,
                    },
                    {
                        name: 'MSSQL',
                        y: 4,
                    },
                    {
                        name: 'HSQL',
                        y: 6,
                    },
                    ]
            }]
        });  //Top SKills

        $('#topindustries').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 0,//null,
                plotShadow: false,
                type: 'pie',
                width: 480
            },
            title: {
                text: ''
            },
            subtitle: {
                text: '',
                x: -20
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            exporting: { enabled: false },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Hiring %',
                data: [
                    {
                        name: 'Financial Services',
                        y: 25.8,
                    },
                    {
                        name: 'Manufacturing',
                        y: 24.2,
                    },
                    {
                        name: 'Infocomm',
                        y: 20,
                    },
                    {
                        name: 'Telecomm',
                        y: 15,
                    },
                    {
                        name: 'Biotech',
                        y: 15,
                    },

                    ]
            }]
        });  //Top Industries    

        $('#competitivechart-1').highcharts({

        }); //competitive chart
 

    });
    
</script>

