
<% content_for(:title) { "Career Dashboard" } %>

<script type='text/javascript'>
  // $(function() {
  //   Dashing.widget_base_dimensions = [310, 320]
  //   Dashing.numColumns = 4
  //  });    
$(document).ready(function() {
    $('#example').dataTable( {
        "scrollY": 200,
        "iDisplayLength": 5,
        "order": [[ 0, "desc" ]],
        "scrollCollapse": true,
        "jQueryUI": true,
    } );
} );
</script>


<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id=<%= @emailme  + "-seeker_profile" %> data-view="Profile" data-image="/logo.png" data-seekername="<%= @userme %>" ></div>

    </li>    

    <li style="color:grey;background:white" data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      Job Matching History
<div>
            <table id="example" class="display" cellspacing="0" width="60%">
                    <thead>
                        <tr>
                           <th>Date Matched</th>
                           <th>Score</th>
                           <th>Rank</th>
                           <th>Job Function</th>
                           <th>Level</th>
                           <th>Salary</th>    
                        </tr>
                    </thead>
                     <tfoot>
                        <tr>
                           <th>Date Matched</th>
                           <th>Score</th>
                           <th>Rank</th>
                           <th>Job Function</th>
                           <th>Level</th>
                           <th>Salary</th>    
                        </tr> 
                    </tfoot>
                    <tbody >
                        <% @usermatchjoblist.each do |i| %>
                        <tr>
                           <td><%= @usermatchjoblist.get(i).datematched %></td>
                           <td><%= @usermatchjoblist.get(i).score %></td>
                           <td><%= @usermatchjoblist.get(i).rank %></td>
                           <td><%= @usermatchjoblist.get(i).jobfunction %></td>
                           <td><%= @usermatchjoblist.get(i).joblevel %></td>
                           <td><%= @usermatchjoblist.get(i).salaryrange %></td>
                        </tr>
                        <% end %>
                   </tbody>
           </table>
</div>  

</li>
</ul>




</div>




