
<style>

#badges {width:1000px; margin:0px 0px 15px 15px; text-align:center; }
#badges > *{
    float:left;
}

</style>

<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  </script>

  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a href="/edge">Home</a>
    </li>
    <li class="active">My CV</li>
  </ul><!-- /.breadcrumb -->

</div>

<div class="page-content">
  <div class="page-content-area">

<div class="container-fluid">
     <!-- <div class="row"> -->
      <div id="user-profile-1" class="user-profile row">
        <div class="col-md-7 column">  
            <h3 class="header smaller lighter blue">My Profile</h3>
            <p> Information in this section will be visbile only to yourself and the recruiter. </p>

            <div class="col-md-3 column">
                <span class="profile-picture">
                    <img id="avatar" class="editable img-responsive" alt="Avatar" src="/vendor/avatar.jpg" />
                </span>
            </div>
            <div class="col-md-9 column">   
              <table id="profiletable" class="display compact" cellspacing="0" width="100%">
                    <tbody >
                        <tr>
                           <td>First Name: </td>
                           <td> <%= @userprofile.firstname %></td>
                        </tr>
                        <tr>
                           <td>Age</td>
                           <td><%= @userprofile.age %>  </td>
                        </tr>
                        <tr>
                           <td>Gender:</td>
                           <td><%= @userprofile.gender == "M" ? "Male" : "Female" %></a></td>
                        </tr>     
                        <tr>
                           <td>Nationality:</td>
                           <td><%= @userprofile.nationality %>  </td>
                        </tr>      
                        <tr>
                           <td>Mobile #:</td>
                           <td><%= @userprofile.contactnumber %>  </td>
                        </tr> 
                        <tr>
                           <td>Address:</td>
                           <td><%= @userprofile.address %>  </td>
                        </tr>                      
                        <tr>
                           <td>Email:</td>
                           <td><%= @userprofile.email %> </td>
                        </tr>
                   </tbody>
                </table>
              </div> <!-- column col-md-9 column -->
      </div> <!--Column col-md-7 column -->
      <div class="col-md-5 column"> 
        <h3 class="header smaller lighter blue">Video Resume</h3>

      </div>
     </div> <!-- row -->
     <div class="row">
        <div class="col-md-6 column"> 
          <h3 class="header smaller lighter blue">My Skills</h3>
        </div>
        <div class="col-md-6 column">
          <h3 class="header smaller lighter blue">Certificates</h3>

            <div id="badges"><img src="/images/badges/acorn.png" width="50" height="50"></div>
            <div id="badges"><img src="/images/badges/adduser.png" width="50" height="50"></div>
            <div id="badges"><img src="/images/badges/arrow.png" width="50" height="50"></div>
            <div id="badges"><img src="/images/badges/badge.png" width="50" height="50"></div>
        </div>

     </div> <!--Row-->
     <div class="row">
        <div class="col-md-6 column">
          <h3 class="header smaller lighter blue">Timeline</h3>
        </div>
        <div class="col-md-6 column">
          <h3 class="header smaller lighter blue">Publications/Patents</h3>
        </div>
     </div>
     <div class="row">
        <div class="col-md-6 column">
          <h3 class="header smaller lighter blue">Endorsement</h3>
        </div>

     </div>     
  

               
  </div> <!-- Container -->
 </div> <!-- page-content-area -->          
 </div> <!--"page-content" -->                
                      


<script type="text/javascript">


	$(function() {
	
      
        // *** editable avatar *** //
        try {//ie8 throws some harmless exceptions, so let's catch'em
      
          //first let's add a fake appendChild method for Image element for browsers that have a problem with this
          //because editable plugin calls appendChild, and it causes errors on IE at unpredicted points
          try {
            document.createElement('IMG').appendChild(document.createElement('B'));
          } catch(e) {
            Image.prototype.appendChild = function(el){}
          }
      
          var last_gritter
          $('#avatar').editable({
            type: 'image',
            name: 'avatar',
            value: null,
            image: {
              //specify ace file input plugin's options here
              btn_choose: 'Change Avatar',
              droppable: true,
              maxSize: 110000,//~100Kb
      
              //and a few extra ones here
              name: 'avatar',//put the field name here as well, will be used inside the custom plugin
              on_error : function(error_type) {//on_error function will be called when the selected file has a problem
                if(last_gritter) $.gritter.remove(last_gritter);
                if(error_type == 1) {//file format error
                  last_gritter = $.gritter.add({
                    title: 'File is not an image!',
                    text: 'Please choose a jpg|gif|png image!',
                    class_name: 'gritter-error gritter-center'
                  });
                } else if(error_type == 2) {//file size rror
                  last_gritter = $.gritter.add({
                    title: 'File too big!',
                    text: 'Image size should not exceed 100Kb!',
                    class_name: 'gritter-error gritter-center'
                  });
                }
                else {//other error
                }
              },
              on_success : function() {
                $.gritter.removeAll();
              }
            },
              url: function(params) {
              // ***UPDATE AVATAR HERE*** //
              //for a working upload example you can replace the contents of this function with 
              //examples/profile-avatar-update.js
              
              //please modify submit_url accordingly
              var submit_url = '/updateprofile';
              var deferred;


              //if value is empty, means no valid files were selected
              //but it may still be submitted by the plugin, because "" (empty string) is different from previous non-empty value whatever it was
              //so we return just here to prevent problems
              var value = $('#avatar').next().find('input[type=hidden]:eq(0)').val();
              if(!value || value.length == 0) {
                deferred = new $.Deferred
                deferred.resolve();
                return deferred.promise();
              }

              var $form = $('#avatar').next().find('.editableform:eq(0)')
              var file_input = $form.find('input[type=file]:eq(0)');

              //user iframe for older browsers that don't support file upload via FormData & Ajax
              if( !("FormData" in window) ) {
                deferred = new $.Deferred

                var iframe_id = 'temporary-iframe-'+(new Date()).getTime()+'-'+(parseInt(Math.random()*1000));
                $form.after('<iframe id="'+iframe_id+'" name="'+iframe_id+'" frameborder="0" width="0" height="0" src="about:blank" style="position:absolute;z-index:-1;"></iframe>');
                $form.append('<input type="hidden" name="temporary-iframe-id" value="'+iframe_id+'" />');
                $form.next().data('deferrer' , deferred);//save the deferred object to the iframe
                $form.attr({'method' : 'POST', 'enctype' : 'multipart/form-data',
                      'target':iframe_id, 'action':submit_url});

                $form.get(0).submit();

                //if we don't receive the response after 60 seconds, declare it as failed!
                setTimeout(function(){
                  var iframe = document.getElementById(iframe_id);
                  if(iframe != null) {
                    iframe.src = "about:blank";
                    $(iframe).remove();

                    deferred.reject({'status':'fail','message':'Timeout!'});
                  }
                } , 60000);
              }
              else {
                var fd = null;
                try {
                  fd = new FormData($form.get(0));
                } catch(e) {
                  //IE10 throws "SCRIPT5: Access is denied" exception,
                  //so we need to add the key/value pairs one by one
                  fd = new FormData();
                  $.each($form.serializeArray(), function(index, item) {
                    fd.append(item.name, item.value);
                  });
                  //and then add files because files are not included in serializeArray()'s result
                  $form.find('input[type=file]').each(function(){
                    if(this.files.length > 0) fd.append(this.getAttribute('name'), this.files[0]);
                  });
                }

                //if file has been drag&dropped , append it to FormData
                if(file_input.data('ace_input_method') == 'drop') {
                  var files = file_input.data('ace_input_files');
                  if(files && files.length > 0) {
                    fd.append(file_input.attr('name'), files[0]);
                  }
                }

                deferred = $.ajax({
                  url: submit_url,
                  type: 'POST',
                  processData: false,
                  contentType: false,
                  dataType: 'json',
                  data: fd,
                  xhr: function() {
                    var req = $.ajaxSettings.xhr();
                    /*if (req && req.upload) {
                      req.upload.addEventListener('progress', function(e) {
                        if(e.lengthComputable) {  
                          var done = e.loaded || e.position, total = e.total || e.totalSize;
                          var percent = parseInt((done/total)*100) + '%';
                          //bar.css('width', percent).parent().attr('data-percent', percent);
                        }
                      }, false);
                    }*/
                    return req;
                  },
                  beforeSend : function() {
                    //bar.css('width', '0%').parent().attr('data-percent', '0%');
                  },
                  success : function() {
                    //bar.css('width', '100%').parent().attr('data-percent', '100%');
                  }
                })
              }



              deferred.done(function(res){
                if(res.status == 'OK') $('#avatar').get(0).src = res.url;
                else alert(res.message);
              }).fail(function(res){
                alert("Failure");
              });


              return deferred.promise();

              //------------


              var deferred = new $.Deferred
      
              var value = $('#avatar').next().find('input[type=hidden]:eq(0)').val();
              if(!value || value.length == 0) {
                deferred.resolve();
                return deferred.promise();
              }
      
      
              //dummy upload
              setTimeout(function(){
                if("FileReader" in window) {
                  //for browsers that have a thumbnail of selected image
                  var thumb = $('#avatar').next().find('img').data('thumb');
                  if(thumb) $('#avatar').get(0).src = thumb;
                }
                
                deferred.resolve({'status':'OK'});
      
                if(last_gritter) $.gritter.remove(last_gritter);
                last_gritter = $.gritter.add({
                  title: 'Avatar Updated!',
                  text: 'Uploading to server can be easily implemented. A working example is included with the template.',
                  class_name: 'gritter-info gritter-center'
                });
                
               } , parseInt(Math.random() * 800 + 800))
      
              return deferred.promise();
              
              // ***END OF UPDATE AVATAR HERE*** //
            },
            
            success: function(response, newValue) {
            }
          })
        }catch(e) {}
        
        

  
      
	});

$(document).ready(function(){



		$('.dial').each(function () { 

		          var elm = $(this);
		          var color = elm.attr("data-fgColor");  
		          var perc = elm.attr("value");  
		 
		          elm.knob({ 
		               'value': 0, 
		                'min':0,
		                'max':100,
		                "skin":"tron",
		                "readOnly":true,
		                "thickness":.1,                 'dynamicDraw': true,                "displayInput":false
		          });

		          $({value: 0}).animate({ value: perc }, {
		              duration: 1000,
		              easing: 'swing',
		              progress: function () {                  elm.val(Math.ceil(this.value)).trigger('change')
		              }
		          });

		          //circular progress bar color
		          $(this).append(function() {
		              elm.parent().parent().find('.circular-bar-content').css('color',color);
		              elm.parent().parent().find('.circular-bar-content label').text(perc+'%');
		          });

		});
   

   //http://stackoverflow.com/questions/19421869/jquery-knob-return-values-of-multiple-knobs-on-demand?rq=1 AJAX the return value.
 });

</script>



<script>
      $('#skilltable').editable({
        selector: 'a.can_update'
        //url: '/updateskill',


      });
        $('#skillsettingtable').dataTable( {
            "scrollY": 200,
            "ScrollX": true,
            "iDisplayLength": 10,
            "order": [[ 0, "desc" ]],
            "scrollCollapse": true,
            "jQueryUI": false,
            "aoColumns": [          
                null, null, null,
                { "bSortable": false }
              ]
        } );


</script>

<script src='http://anthonyterrien.com/js/jquery.knob.js'></script>

  

