
<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  </script>

  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a href="/edge">Home</a>
    </li>
    <li class="active">My Setup</li>
  </ul><!-- /.breadcrumb -->

</div>

<div class="page-content">

     <!-- <div class="row"> -->
     <h3 class="header smaller lighter blue">My Setup</h3>
 
    <div class="col-xs-12">
        <div class="row">  <!-- 1st row in the Preference Management section -->
          <div class="col-sm-12"> 
              <div class="form-group">
                   I am active in looking for job <label><input id="activecheck" name="activeseeker" class="ace ace-switch ace-switch-5 btn-rotate" type="checkbox" <%= @userprofile.activeseeker.to_s == "true" ? "checked" : "unchecked" %> /><span class="lbl"></span></label>    
              </div> 
          </div>
        </div>
        <div class="row">  <!-- 2nd row in the Preference Management section -->
          <div class="col-sm-12">
            <div class="form-group">          
                  I am in Singapore <label><input id="insgcheck" name="insingaporenow" class="ace ace-switch ace-switch-5 btn-rotate" type="checkbox" <%= @userprofile.insingaporenow.to_s == "true" ? "checked" : "unchecked" %> /><span class="lbl"></span></label>    
                  on these dates <label><input type="text" style="width: 200px;" name="date-range-picker" id="id-date-range-picker-1"  class="form-control" value="<%=@userprofile.insg_start.strftime("%d/%m/%Y") %> - <%=@userprofile.insg_end.strftime("%d/%m/%Y") %> "  class="span4"></input></label>
                  <!-- Infobox: If you are in Singapore, and there is seminar or related IT events, we will notify you -->
            </div>      
          </div>
        </div>
        <div class="row">  <!-- 3rd row in the Preference Management section -->     
          <div class="col-sm-12"> 
            <div class="form-group">
              Preferred Job Levels <input type="text" name="tags" id="form-field-tags-joblevels" value="Tag Input Control" placeholder="Enter job level ..." />
            </div>
          </div>
        </div>
        <div class="row">  <!-- 4th row in the Preference Management section -->  
          <div class="col-sm-12"> 
            <div class="form-group">
              
              <label class="custo1">Preferred Job Functions<input type="text" name="tags" id="form-field-tags-jobfunctions" value="Tag Input Control" placeholder="Enter job functions ..." /></label>
            </div>
          </div>
        </div>
        <div class="row">  <!-- 5th row in the Preference Management section -->  
          <div class="col-sm-8"> 
            <div class="form-group">
              Preferred Industries: <a href="#" id="industries" data-type="select2" data-value="<%= @pref_ind %>"  data-pk="<%=@userprofile.id %>" data-url="/updateindpref" data-title="Enter preferred industries"></a> 
            </div>
          </div>
        </div>
        <div class="row">  <!-- 6th row in the Preference Management section -->  
          <div class="col-sm-8"> 
            <div class="form-group">
              Preferred Locations: <a href="#" id="locations" data-type="select2" data-value="<%= @pref_loc %>"  data-pk="<%=@userprofile.id %>" data-url="/updatelocpref" data-title="Enter preferred locations"></a>
            </div>
          </div>
        </div>
        <div class="row">  <!-- 5th row in the Preference Management section -->  
          <div class="col-sm-12"> 
              <div class="form-group">
                  Expected salary S$ <input type="text" id="form-field-1"   />
                  
              </div> 
          </div>
        </div>
        <div class="row">  <!-- 5th row in the Preference Management section -->   
          <div class="col-sm-12">    
              <div class="form-group">
                  Preferred Travel Frequency %:<input type="text" class="input-mini" id="spinner2" value="<%=@userprofile.travelfreq %>" />        
              </div>     
          </div>
        </div>        

  </div> <!-- Row -->

   <div class="row">
     Upload new CV
   </div>
 
   <div class="row">
      <div class="col-sm-6 ">
      <h3 class="header smaller lighter blue">Skills Management</h3>
      <div id="skilltable">
          
          <div class="action-buttons">

              <a class="red" href="#addskillmodal" data-toggle="modal"> <!-- Set a flag to say it is deleted.  -->
                <i class="icon-pencil bigger-130">Add a skill</i>
              </a>
              <a class="red" href="#addskillmodal" data-toggle="modal"> <!-- Set a flag to say it is deleted.  -->
                <i class="icon-pencil bigger-130">Report new skill</i>
              </a>
          </div>          

                  <!--  Modal -->
           <div class="modal fade" id="addskillmodal" >
             <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add new skill</h4>                                                               
                  </div> <!-- "modal-header" -->
                      <div class="modal-body" style="padding-left:45px;">      

                          <div class="clearfix">
                              <div class="form-group">
                                  <p> Skill Category:<select name="skillcategory">
                                    <option value="1">System</option>
                                    <option value="2">Network</option>
                                    <option value="3">Non-Tech Skill</option>
                                    <option value="4">Management Skill</option>
                                    <option value="5">Programming</option>
                                  </select>
                                  </p>
                                  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Skill </label>
                                  <p> <input type="text" id="skill" /> </p>
                                  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Skill Rank </label>
                                  <p> <input type="text" id="skillrank" /> </p>                                  
                              </div>                                   
                          </div>

                      </div> <!-- "modal-body" -->
                      <div class="modal-footer">
                           <!-- <input type="submit" name="save" formaction="/jobupdate" value="Submit" /> -->
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                           <button type="button" class="btn btn-default">Add</button>
                      </div> <!-- footer -->
               </div> <!-- modal-content -->
             </div><!-- modal-dialog -->
           </div><!-- modal  -->    



          <table id="skillsettingtable" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                   <th class="align-center">Category</th>
                   <th class="align-center">Skill Name</th>
                   <th class="align-center">Skill Rank</th>
                   <th class="align-center"></th>
                </tr>
              </thead>
              <tbody id="aat" >
                  <% @allskills.each do |i| %>  <!--From Skill Summary Class -->
                  <!-- If flag is set to delete, break. and find next record -->
                  <% if @allskills.get(i).status != 0 %>
                 
                  <tr>
                   
                     <td><%= @scmaster.get(i.skillcatid).categoryname %></td> 
                      
                     <td><%= @ssmaster.get(i.skillid).skill_name %> </a></td>
                     
                     <td><a class="skillrank" href="javascript:void(0)" class="editable-click" data-name="skillrank" data-type="select" data-pk="<%= @allskills.get(i).id%>" data-url="/updateskillrank" data-source="[{value: 1, text: 'Basic'}, {value: 2, text: 'Intermediate'}, {value: 3, text: 'Advance'}, {value: 4, text: 'Expert'}]"   data-title="Enter skill rank">  <%= @sr.get(i.skillrank).skillrankname %>
                     </a></td> 

                     
                     <td>

                      <div class="hidden-sm hidden-xs action-buttons">

                          <!-- <a id="skilldel" class="red" href="/deleteskill?id=<%= @allskills.get(i).id %>"> -->
                          <a onclick="delskill(this, <%=i.id%>)" class="red" href="javascript:void(0)">
                            <i class="icon-trash bigger-130"></i>
                             
                          </a>

                      </div>
                     </td>
                  </tr>

                 <% end %>
                  <% end %>
              </tbody>
            </table>
      
        <br><br>


        </div> <!-- skilltable" -->
      </div> <!-- "col-sm-6 column" -->
      <div class="col-sm-6 column">
        <h3 class="header smaller lighter blue">Languages</h3>
        <div id="skilltable">
          
          <div class="action-buttons">

              <a class="red" href="#addlanguagemodal" data-toggle="modal"> <!-- Set a flag to say it is deleted.  -->
                <i class="icon-pencil bigger-130">Add a language</i>
              </a>
              <a class="red" href="#addlanguagemodal" data-toggle="modal"> <!-- Set a flag to say it is deleted.  -->
                <i class="icon-pencil bigger-130">Report new language</i>
              </a>
          </div>          

                  <!--  Modal -->
           <div class="modal fade" id="addlanguagemodal" >
             <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add new language</h4>                                                               
                  </div> <!-- "modal-header" -->
                      <div class="modal-body" style="padding-left:45px;">      

                          <div class="clearfix">
                              <div class="form-group">
                                  <p> Skill Category:<select name="skillcategory">
                                    <option value="1">System</option>
                                    <option value="2">Network</option>
                                    <option value="3">Non-Tech Skill</option>
                                    <option value="4">Management Skill</option>
                                    <option value="5">Programming</option>
                                  </select>
                                  </p>
                                  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Skill </label>
                                  <p> <input type="text" id="skill" /> </p>
                                  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Skill Rank </label>
                                  <p> <input type="text" id="skillrank" /> </p>                                  
                              </div>                                   
                          </div>

                      </div> <!-- "modal-body" -->
                      <div class="modal-footer">
                           <!-- <input type="submit" name="save" formaction="/jobupdate" value="Submit" /> -->
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                           <button type="button" class="btn btn-default">Add</button>
                      </div> <!-- footer -->
               </div> <!-- modal-content -->
             </div><!-- modal-dialog -->
           </div><!-- modal  -->    


          <table id="languagesettingtable" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                   <th class="align-center">Language</th>
                   <th class="align-center">Written Proficiency</th>
                   <th class="align-center">Spoken Proficiency</th>
                   <th class="align-center"></th>
                </tr>
              </thead>
              <tbody>
                  <% @languages.each do |i| %>
                  <!-- If flag is set to delete, break. and find next record -->
                  <% if @languages.get(i).status != 0 %>
                 
                  <tr>
                   
                     <td><a class="languagename" href="javascript:void(0)" class="editable-click" data-name="languageid" data-type="text" data-pk="<%= @languages.get(i).id%>" data-url="/update_language"  data-title="Enter skill category "><%= @lmaster.get(languageid).languagename %></a></td> 
                      
                    <td><a class="writtenrank" href="javascript:void(0)" class="editable-click" data-name="writtenrank" data-type="select" data-pk="<%= @languages.get(i).id%>" data-url="/update_language" data-source="[{value: 1, text: 'Basic'}, {value: 2, text: 'Intermediate'}, {value: 3, text: 'Advance'}, {value: 4, text: 'Expert'}]"   data-title="Enter skill rank">  <%= @sr.get(i.writtenrank).skillrankname %>
                     </a></td> 
                     
                     <td><a class="spokenrank" href="javascript:void(0)" class="editable-click" data-name="spokenrank" data-type="select" data-pk="<%= @languages.get(i).id%>" data-url="/update_language" data-source="[{value: 1, text: 'Basic'}, {value: 2, text: 'Intermediate'}, {value: 3, text: 'Advance'}, {value: 4, text: 'Expert'}]"   data-title="Enter skill rank">  <%= @sr.get(i.spokenrank).skillrankname %>
                     </a></td> 
                     <td>

                      <div class="hidden-sm hidden-xs action-buttons">
                          <a onclick="del_language(this, <%=i.id%>)" class="red" href="javascript:void(0)">
                            <i class="icon-trash bigger-130"></i>
                             
                          </a>

                      </div>
                     </td>
                  </tr>

                 <% end %>
                  <% end %>
              </tbody>
            </table>

      </div> <!-- skill table -->
    </div> <!-- "col-sm-6 column" -->
   </div> <!-- row -->

               
</div>
      
 </div> <!--"page-content" -->                





<script type="text/javascript">

 
	$(function() {  //this is the same as $(document).ready(function(){  http://stackoverflow.com/questions/3908724/what-event-does-jquery-function-fire-on
	      
       $('.date-picker').datepicker({autoclose:true}).next().on(ace.click_event, function(){
          $(this).prev().focus();
      });
       

        // *** editable avatar *** //
        try {//ie8 throws some harmless exceptions, so let's catch'em
      
          //first let's add a fake appendChild method for Image element for browsers that have a problem with this
          //because editable plugin calls appendChild, and it causes errors on IE at unpredicted points
          try {
            document.createElement('IMG').appendChild(document.createElement('B'));
          } catch(e) {
            Image.prototype.appendChild = function(el){}
          }
      
          var last_gritter
          $('#avatar').editable({
            type: 'image',
            name: 'avatar',
            value: null,
            image: {
              //specify ace file input plugin's options here
              btn_choose: 'Change Avatar',
              droppable: true,
              maxSize: 110000,//~100Kb
      
              //and a few extra ones here
              name: 'avatar',//put the field name here as well, will be used inside the custom plugin
              on_error : function(error_type) {//on_error function will be called when the selected file has a problem
                if(last_gritter) $.gritter.remove(last_gritter);
                if(error_type == 1) {//file format error
                  last_gritter = $.gritter.add({
                    title: 'File is not an image!',
                    text: 'Please choose a jpg|gif|png image!',
                    class_name: 'gritter-error gritter-center'
                  });
                } else if(error_type == 2) {//file size rror
                  last_gritter = $.gritter.add({
                    title: 'File too big!',
                    text: 'Image size should not exceed 100Kb!',
                    class_name: 'gritter-error gritter-center'
                  });
                }
                else {//other error
                }
              },
              on_success : function() {
                $.gritter.removeAll();
              }
            },
              url: function(params) {
              // ***UPDATE AVATAR HERE*** //
              //for a working upload example you can replace the contents of this function with 
              //examples/profile-avatar-update.js
              
              //please modify submit_url accordingly
              var submit_url = '/updateprofile';
              var deferred;


              //if value is empty, means no valid files were selected
              //but it may still be submitted by the plugin, because "" (empty string) is different from previous non-empty value whatever it was
              //so we return just here to prevent problems
              var value = $('#avatar').next().find('input[type=hidden]:eq(0)').val();
              if(!value || value.length == 0) {
                deferred = new $.Deferred
                deferred.resolve();
                return deferred.promise();
              }

              var $form = $('#avatar').next().find('.editableform:eq(0)')
              var file_input = $form.find('input[type=file]:eq(0)');

              //user iframe for older browsers that don't support file upload via FormData & Ajax
              if( !("FormData" in window) ) {
                deferred = new $.Deferred

                var iframe_id = 'temporary-iframe-'+(new Date()).getTime()+'-'+(parseInt(Math.random()*1000));
                $form.after('<iframe id="'+iframe_id+'" name="'+iframe_id+'" frameborder="0" width="0" height="0" src="about:blank" style="position:absolute;z-index:-1;"></iframe>');
                $form.append('<input type="hidden" name="temporary-iframe-id" value="'+iframe_id+'" />');
                $form.next().data('deferrer' , deferred);//save the deferred object to the iframe
                $form.attr({'method' : 'POST', 'enctype' : 'multipart/form-data',
                      'target':iframe_id, 'action':submit_url});

                $form.get(0).submit();

                //if we don't receive the response after 60 seconds, declare it as failed!
                setTimeout(function(){
                  var iframe = document.getElementById(iframe_id);
                  if(iframe != null) {
                    iframe.src = "about:blank";
                    $(iframe).remove();

                    deferred.reject({'status':'fail','message':'Timeout!'});
                  }
                } , 60000);
              }
              else {
                var fd = null;
                try {
                  fd = new FormData($form.get(0));
                } catch(e) {
                  //IE10 throws "SCRIPT5: Access is denied" exception,
                  //so we need to add the key/value pairs one by one
                  fd = new FormData();
                  $.each($form.serializeArray(), function(index, item) {
                    fd.append(item.name, item.value);
                  });
                  //and then add files because files are not included in serializeArray()'s result
                  $form.find('input[type=file]').each(function(){
                    if(this.files.length > 0) fd.append(this.getAttribute('name'), this.files[0]);
                  });
                }

                //if file has been drag&dropped , append it to FormData
                if(file_input.data('ace_input_method') == 'drop') {
                  var files = file_input.data('ace_input_files');
                  if(files && files.length > 0) {
                    fd.append(file_input.attr('name'), files[0]);
                  }
                }

                deferred = $.ajax({
                  url: submit_url,
                  type: 'POST',
                  processData: false,
                  contentType: false,
                  dataType: 'json',
                  data: fd,
                  xhr: function() {
                    var req = $.ajaxSettings.xhr();
                    /*if (req && req.upload) {
                      req.upload.addEventListener('progress', function(e) {
                        if(e.lengthComputable) {  
                          var done = e.loaded || e.position, total = e.total || e.totalSize;
                          var percent = parseInt((done/total)*100) + '%';
                          //bar.css('width', percent).parent().attr('data-percent', percent);
                        }
                      }, false);
                    }*/
                    return req;
                  },
                  beforeSend : function() {
                    //bar.css('width', '0%').parent().attr('data-percent', '0%');
                  },
                  success : function() {
                    //bar.css('width', '100%').parent().attr('data-percent', '100%');
                  }
                })
              }



              deferred.done(function(res){
                if(res.status == 'OK') $('#avatar').get(0).src = res.url;
                else alert(res.message);
              }).fail(function(res){
                alert("Failure");
              });


              return deferred.promise();

              //------------


              var deferred = new $.Deferred
      
              var value = $('#avatar').next().find('input[type=hidden]:eq(0)').val();
              if(!value || value.length == 0) {
                deferred.resolve();
                return deferred.promise();
              }
      
      
              //dummy upload
              setTimeout(function(){
                if("FileReader" in window) {
                  //for browsers that have a thumbnail of selected image
                  var thumb = $('#avatar').next().find('img').data('thumb');
                  if(thumb) $('#avatar').get(0).src = thumb;
                }
                
                deferred.resolve({'status':'OK'});
      
                if(last_gritter) $.gritter.remove(last_gritter);
                last_gritter = $.gritter.add({
                  title: 'Avatar Updated!',
                  text: 'Uploading to server can be easily implemented. A working example is included with the template.',
                  class_name: 'gritter-info gritter-center'
                });
                
               } , parseInt(Math.random() * 800 + 800))
      
              return deferred.promise();
              
              // ***END OF UPDATE AVATAR HERE*** //
            },
            
            success: function(response, newValue) {
            }
          })
        }catch(e) {}
        
        
 
        var tag_input = $('#form-field-tags-locations');
        if(! ( /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase())) ) 
        {
          tag_input.tag(
            {
            placeholder:tag_input.attr('placeholder'),
            //enable typeahead by specifying the source array
            source: ace.variable_US_STATES,//defined in ace.js >> ace.enable_search_ahead
            }
          );
        }
        else {
          //display a textarea for old IE, because it doesn't support this plugin or another one I tried!
          tag_input.after('<textarea id="'+tag_input.attr('id')+'" name="'+tag_input.attr('name')+'" rows="3">'+tag_input.val()+'</textarea>').remove();
          //$('#form-field-tags').autosize({append: "\n"});
        }          
      

     

      $('#languagetable').editable({
        selector: 'a.languagename'
      });

      $('#languagetable').editable({
        selector: 'a.spokenrank'
      });

      $('#languagetable').editable({
        selector: 'a.writtenrank'
      });


      $('#skilltable').editable({
        selector: 'a.skillrank'
      });

      $('#skilltable').editable({
        selector: 'a.skills',
        source: function() {
              //alert($(this).closest(":has(td)").find('.skillcat').text());
              //$(this).closest(":has(td)").find('.skillcat').text()
              //$('.a1').closest('td').prev().text()
              //alert($(this).closest("td").prev().text())  
              // string compare example: nation.indexOf("Singapore")

              // if ($(this).closest("td").prev().text() == "General Skills Management / Customers"){
              //   return (<%= @sst19 %>)
                
              // }
              // if ($(this).closest("td").prev().text() == "Networking Skills"){
              //   return <%= @sst23 %>
                
              // }
              // if ($(this).closest("td").prev().text() == "General Skills Technical"){
              //   return <%= @sst20 %>
               
              // }
              // if ($(this).closest("td").prev().text() == "Operating Systems"){
              //   return <%= @sst28 %>
              
              // }
        }

      });
   
      $('#skilltable').editable({
        selector: 'a.skillcat'
      });



      $('#industries').editable({
        
           source: function() {
                return (<%= @industries%>)
              },
        select2: {
           multiple: true
        },
        allowClear: true,
        minimumInputLength: 3,
        mode: 'popup'
      });

      $('#locations').editable({
        
           source: function() {
                return (<%= @countries %>)
              },
        select2: {
           multiple: true
        },
        allowClear: true,
        minimumInputLength: 3,
        mode: 'popup'
      });


        $('#skillsettingtable').dataTable( {
            "scrollY": 200,
            "ScrollX": true,
            "iDisplayLength": 10,
            "order": [[ 0, "desc" ]],
            "scrollCollapse": true,
            "jQueryUI": true,
            "aoColumns": [          
                null, null, null,
                { "bSortable": false }
              ]
        } );

        $('#languagesettingtable').dataTable( {
            "scrollY": 200,
            "ScrollX": true,
            "iDisplayLength": 10,
            "order": [[ 0, "desc" ]],
            "scrollCollapse": true,
            "jQueryUI": true,
            "aoColumns": [          
                null, null, null,
                { "bSortable": false }
              ]
        } );




      $("#activecheck").on('change', function(){
          $.ajax({
            url: '/updateactive',
            type: 'POST',
            data: {"activeseeker": this.checked, "pk" : <%=@userprofile.id %>}
            
          });
         
      });

      $("#insgcheck").on('change', function(){
          $.ajax({
            url: '/updateinsgnow',
            type: 'POST',
            data: {"insingaporenow": this.checked, "pk" : <%=@userprofile.id %>}
            
          });
         
      });
      $("#id-date-picker-1").on('change', function(){
          $.ajax({
            url: '/updatedob',
            type: 'POST',
            data: {"dob": this.value, "pk" : <%=@userprofile.id %>}
            
          });
         
      });     

      // $("#id-date-range-picker-1").on('change', function(){
      //   alert (this.startDate)
      //     $.ajax({
      //       url: '/update_inSG_Date',
      //       type: 'POST',
      //       data: {"insg_start": this.startDate, "insg_end": this.endDate, "pk" : <%=@userprofile.id %>}
            
      //     });
         
      // });       

	});

$(document).ready(function(){

      


		$('.dial').each(function () { 

		          var elm = $(this);
		          var color = elm.attr("data-fgColor");  
		          var perc = elm.attr("value");  
		 
		          elm.knob({ 
		               'value': 0, 
		                'min':0,
		                'max':100,
		                "skin":"tron",
		                "readOnly":true,
		                "thickness":.1,                 'dynamicDraw': true,                "displayInput":false
		          });

		          $({value: 0}).animate({ value: perc }, {
		              duration: 1000,
		              easing: 'swing',
		              progress: function () {                  elm.val(Math.ceil(this.value)).trigger('change')
		              }
		          });

		          //circular progress bar color
		          $(this).append(function() {
		              elm.parent().parent().find('.circular-bar-content').css('color',color);
		              elm.parent().parent().find('.circular-bar-content label').text(perc+'%');
		          });

             
             
		});
   

              
        $('#spinner1').ace_spinner({value:0,min:0,max:100,step:25, btn_up_class:'btn-info' , btn_down_class:'btn-info'})
        .on('change', function(){
          //alert(this.value)
        });
        $('#spinner2').ace_spinner({value:0,min:0,max:100,step:25, touch_spinner: true, icon_up:'icon-caret-up', icon_down:'icon-caret-down'})
        .on('change', function(){
          $.ajax({
            url: '/updatetravelfreq',
            type: 'POST',
            data: {"travelfreq": this.value, "pk" : <%=@userprofile.id %>}
            
          });
        });
        $('#spinner3').ace_spinner({value:0,min:-100,max:100,step:10, on_sides: true, icon_up:'icon-plus smaller-75', icon_down:'icon-minus smaller-75', btn_up_class:'btn-success' , btn_down_class:'btn-danger'});
        
 

   //http://stackoverflow.com/questions/19421869/jquery-knob-return-values-of-multiple-knobs-on-demand?rq=1 AJAX the return value.
 });

</script>



<script>


function delskill(element,i){

  $.ajax({
          url: '/deleteskill',
          type: 'POST',
          data: {"pk" : i},
          success: function(response){
             //$(element).parents('tr').remove();
            
            //var row = $(this).closest('tr');
            var row=$(element).parents('tr')
            $('#skillsettingtable').dataTable().fnDeleteRow(row[0]);

          }

        });


}//function
</script>

<script type="text/javascript">
                    $(document).ready(function() {
                       $('input[name="date-range-picker"]').daterangepicker({
                        timePicker: false,
                        showDropdowns: true,
                        format: 'DD/MM/YYYY'
                      }, function(start, end, label) {
                        console.log(moment(start.format('YYYY-MM-DDTHH:mm:ss') + 'Z').utc().toISOString());
                        from = moment(start.format('YYYY-MM-DDTHH:mm:ss') + 'Z').utc().toISOString();
                        end =moment(end.format('YYYY-MM-DDTHH:mm:ss') + 'Z').utc().toISOString();
                         $.ajax({
                            url: '/update_inSG_Date',
                            type: 'POST',
                            data: {"insg_start": from, "insg_end": end, "pk" : <%=@userprofile.id %>}
                            
                          });
                      }); 
                  });
                  </script>
<script src='http://anthonyterrien.com/js/jquery.knob.js'></script>

  
