
<style>
 .hilight { background:yellow; }
</style>



<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  </script>

  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a href="/edge">Home</a>
    </li>
    <li class="active">Profile</li>
  </ul><!-- /.breadcrumb -->

</div>

<div class="page-content">
  <div class="page-content-area">

<div class="container-fluid">
     <!-- <div class="row"> -->
      <div id="user-profile-1" class="user-profile row">
        <h3 class="header smaller lighter blue">My Profile</h3>
        <div class="col-md-3 column">
            <span class="profile-picture">
                <img id="avatar" class="editable img-responsive" alt="Avatar" src="/vendor/avatar.jpg" />
            </span>
        </div>
        <div class="col-md-6 column">   
          <table id="profiletable" class="display compact" cellspacing="0" width="100%">
                <tbody >
                    <tr>
                       <td>First Name: </td>
                       <td> <a href="javascript:void(0)" id="firstname" data-type="text" data-pk="<%=@userprofile.id %>" data-url="/updateprofile" data-title="Enter first name"><%= @userprofile.firstname %></a> </td>
                    </tr>
                    <tr>
                       <td>Age</td>
                       <td><a href="javascript:void(0)"  id="age" data-type="text" data-pk="<%=@userprofile.id %>" data-url="/updateprofile" data-title="Enter age"><%= @userprofile.age %></a>  </td>
                    </tr>
                    <tr>
                       <td>Gender:</td>
                       <td><a href="javascript:void(0)"  id="gender" data-type="select" data-pk="<%=@userprofile.id %>" data-url="/updateprofile" data-title="Enter gender"><%= @userprofile.gender == "M" ? "Male" : "Female" %> </a></td>
                    </tr>     
                    <tr>
                       <td>Nationality:</td>
                       <td><a href="javascript:void(0)" id="nationality" data-type="select"  data-pk="<%=@userprofile.id %>" data-url="/updateprofile" data-title="Enter nationality"><%= @cmaster.get(@userprofile.nationality).countryname %> </a> </td>
                       <td id="spr_block" style="visibility: hidden"> 
                        <div class="checkbox">
                          <label>
                            <input id="sprcheck" name="singaporepr" type="checkbox" class="ace" <%= @userprofile.singaporepr.to_s == "true" ? "checked" : "unchecked" %> />
                            <span class="lbl"> Singapore PR?</span>
                          </label>
                        </div>
                       </td>


                    </tr> 

                     
                    <tr>
                       <td>Mobile #:</td>
                       <td><a href="javascript:void(0)"  id="contactnumber" data-type="text" data-pk="<%=@userprofile.id %>" data-url="/updateprofile" data-title="Enter mobile number"><%= @userprofile.contactnumber %> </a>  </td>
                      
                    </tr> 
                    <tr>
                       <td>Address:</td>
                       <td><a href="javascript:void(0)"  id="address" data-type="text" data-pk="<%=@userprofile.id %>" data-url="/updateprofile" data-title="Enter address"><%= @userprofile.address %>   </a> </td>
                    </tr>                      
                    <tr>
                       <td>Email:</td>
                       <td><a href="javascript:void(0)"  id="email" data-type="text" data-pk="<%=@userprofile.id %>" data-url="/updateprofile" data-title="Enter email address"><%= @userprofile.email %>   </a> </td>
                    </tr>
               </tbody>
            </table>
          </div> <!-- column -->
     </div> <!-- row -->
     <div class="row">
      <h3 class="header smaller lighter blue">Preference Management</h3>
         <div class="col-sm-12 column">
           <form class="form-horizontal" role="form">
              <div class="form-group">
                  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> I am active in looking for job </label>
                      <label>
                        <input id="activecheck" name="activeseeker" class="ace ace-switch ace-switch-5 btn-rotate" type="checkbox" <%= @userprofile.activeseeker.to_s == "true" ? "checked" : "unchecked" %> />
                        <!-- /*http://stackoverflow.com/questions/17517622/how-to-send-radio-button-value-with-ajax-and-recover-it-with-php*/ -->
                        <span class="lbl"></span>
                      </label>
              </div> 




                  <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-tags-joblevels">Preferred Job Levels</label>

                    <div class="col-sm-9">
                      <input type="text" name="tags" id="form-field-tags-joblevels" value="Tag Input Control" placeholder="Enter job level ..." />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-tags-jobfunctions">Preferred Job Functions</label>

                    <div class="col-sm-9">
                      <input type="text" name="tags" id="form-field-tags-jobfunctions" value="Tag Input Control" placeholder="Enter job functions ..." />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-tags-industries">Preferred Industries</label>

                    <div class="col-sm-6">
                       <a href="#" id="industries" data-type="select2" data-value="<%= @pref_ind %>"  data-pk="<%=@userprofile.id %>" data-url="/updateindpref" data-title="Enter preferred industries"></a>
                      
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-tags-locations">Preferred Locations</label>

                    <div class="col-sm-9">
                      <a href="#" id="locations" data-type="select2" data-value="<%= @pref_loc %>"  data-pk="<%=@userprofile.id %>" data-url="/updatelocpref" data-title="Enter preferred locations"></a>
                    </div>
                  </div>

              <div class="form-group">
                  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Expected salary S$</label>
                  <p> <input type="text" id="form-field-1"   /> </p>
              </div> 
              <div class="form-group">
                  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Expected travel frequency </label>
                  <p> <input type="text" id="form-field-1"  /> </p> <!--dropdown -->
              </div> 

            </form>
         </div> <!-- "col-sm-12 column" -->
     </div> <!-- Row -->

     <div class="row">
       <p id="testing"> Generate CV in PDF format </p>


                    <div class="form-group">
                  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Upload new CV </label>
              </div> 

     </div>
     
   <div class="row">
      <div class="col-sm-6 ">
      <h3 class="header smaller lighter blue">Skills Management</h3>
      <div id="skilltable">
          
          <div class="action-buttons">

              <a class="red" href="#addskillmodal" data-toggle="modal"> <!-- Set a flag to say it is deleted.  -->
                <i class="icon-pencil bigger-130">Add a skill</i>
              </a>
          </div>          

                  <!--  Modal -->
           <div class="modal fade" id="addskillmodal" >
             <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add new skill</h4>                                                               
                  </div> <!-- "modal-header" -->
                      <div class="modal-body" style="padding-left:45px;">      

                          <div class="clearfix">
                              <div class="form-group">
                                  <p> Skill Category:<select name="skillcategory">
                                    <option value="1">System</option>
                                    <option value="2">Network</option>
                                    <option value="3">Non-Tech Skill</option>
                                    <option value="4">Management Skill</option>
                                    <option value="5">Programming</option>
                                  </select>
                                  </p>
                                  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Skill </label>
                                  <p> <input type="text" id="skill" /> </p>
                                  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Skill Rank </label>
                                  <p> <input type="text" id="skillrank" /> </p>                                  
                              </div>                                   
                          </div>

                      </div> <!-- "modal-body" -->
                      <div class="modal-footer">
                           <!-- <input type="submit" name="save" formaction="/jobupdate" value="Submit" /> -->
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                           <button type="button" class="btn btn-default">Add</button>
                      </div> <!-- footer -->
               </div> <!-- modal-content -->
             </div><!-- modal-dialog -->
           </div><!-- modal  -->    



          <table id="skillsettingtable" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                   <th class="align-center">Category</th>
                   <th class="align-center">Skill Name</th>
                   <th class="align-center">Skill Rank</th>
                   <th class="align-center"></th>
                </tr>
              </thead>
              <tbody >
                  <% @allskills.each do |i| %>
                  <!-- If flag is set to delete, break. and find next record -->
                  <% if @allskills.get(i).status != 0 %>
                  <tr>
                   
                     <td><a class="skillcat" href="javascript:void(0)" class="editable-click" data-name="skillcatid" data-type="text" data-pk="<%= @allskills.get(i).id%>" data-url="/updateskillcat"  data-title="Enter skill category "><%= i.skillcategory %></a></td> <!--<%= i.skillcategory %>-->
                      
                     <td><a class="skills" href="javascript:void(0)" class="editable-click" data-name="skillid" data-type="select" data-pk="<%= @allskills.get(i).id%>" data-url="/updateskill"  data-title="Enter skill "><%= @ssmaster.get(i.skillid).skill_name %> </a></td>
                     
                     <td><a class="skillrank" href="javascript:void(0)" class="editable-click" data-name="skillrank" data-type="select" data-pk="<%= @allskills.get(i).id%>" data-url="/updateskillrank" data-source="[{value: 1, text: 'Basic'}, {value: 2, text: 'Intermediate'}, {value: 3, text: 'Advance'}, {value: 4, text: 'Expert'}]"   data-title="Enter skill rank">  <%= @sr.get(i.skillrank).skillrankname %>
                     </a></td> 

                     
                     <td>
                      <div class="hidden-sm hidden-xs action-buttons">

                          <a class="red" href="/deleteskill?id=<%= @allskills.get(i).id %>"> <!-- Set a flag to say it is deleted.  -->
                            <i class="icon-trash bigger-130"></i>
                          </a>
                      </div>
                     </td>
                  </tr>
                 <% end %>
                  <% end %>
              </tbody>
            </table>
      
        <br><br>


        </div> <!-- skilltable" -->
      </div> <!-- "col-sm-6 column" -->
      <div class="col-sm-6 column">
        <h3 class="header smaller lighter blue">Languages</h3>
          <p>Language - Spoken score - Written score </p>
      </div>
   </div> <!-- row -->

               
  </div> <!-- Container -->
 </div> <!-- page-content-area -->          
 </div> <!--"page-content" -->                





<script type="text/javascript">


	$(function() {
	
      
        // *** editable avatar *** //
        try {//ie8 throws some harmless exceptions, so let's catch'em
      
          //first let's add a fake appendChild method for Image element for browsers that have a problem with this
          //because editable plugin calls appendChild, and it causes errors on IE at unpredicted points
          try {
            document.createElement('IMG').appendChild(document.createElement('B'));
          } catch(e) {
            Image.prototype.appendChild = function(el){}
          }
      
          var last_gritter
          $('#avatar').editable({
            type: 'image',
            name: 'avatar',
            value: null,
            image: {
              //specify ace file input plugin's options here
              btn_choose: 'Change Avatar',
              droppable: true,
              maxSize: 110000,//~100Kb
      
              //and a few extra ones here
              name: 'avatar',//put the field name here as well, will be used inside the custom plugin
              on_error : function(error_type) {//on_error function will be called when the selected file has a problem
                if(last_gritter) $.gritter.remove(last_gritter);
                if(error_type == 1) {//file format error
                  last_gritter = $.gritter.add({
                    title: 'File is not an image!',
                    text: 'Please choose a jpg|gif|png image!',
                    class_name: 'gritter-error gritter-center'
                  });
                } else if(error_type == 2) {//file size rror
                  last_gritter = $.gritter.add({
                    title: 'File too big!',
                    text: 'Image size should not exceed 100Kb!',
                    class_name: 'gritter-error gritter-center'
                  });
                }
                else {//other error
                }
              },
              on_success : function() {
                $.gritter.removeAll();
              }
            },
              url: function(params) {
              // ***UPDATE AVATAR HERE*** //
              //for a working upload example you can replace the contents of this function with 
              //examples/profile-avatar-update.js
              
              //please modify submit_url accordingly
              var submit_url = '/updateprofile';
              var deferred;


              //if value is empty, means no valid files were selected
              //but it may still be submitted by the plugin, because "" (empty string) is different from previous non-empty value whatever it was
              //so we return just here to prevent problems
              var value = $('#avatar').next().find('input[type=hidden]:eq(0)').val();
              if(!value || value.length == 0) {
                deferred = new $.Deferred
                deferred.resolve();
                return deferred.promise();
              }

              var $form = $('#avatar').next().find('.editableform:eq(0)')
              var file_input = $form.find('input[type=file]:eq(0)');

              //user iframe for older browsers that don't support file upload via FormData & Ajax
              if( !("FormData" in window) ) {
                deferred = new $.Deferred

                var iframe_id = 'temporary-iframe-'+(new Date()).getTime()+'-'+(parseInt(Math.random()*1000));
                $form.after('<iframe id="'+iframe_id+'" name="'+iframe_id+'" frameborder="0" width="0" height="0" src="about:blank" style="position:absolute;z-index:-1;"></iframe>');
                $form.append('<input type="hidden" name="temporary-iframe-id" value="'+iframe_id+'" />');
                $form.next().data('deferrer' , deferred);//save the deferred object to the iframe
                $form.attr({'method' : 'POST', 'enctype' : 'multipart/form-data',
                      'target':iframe_id, 'action':submit_url});

                $form.get(0).submit();

                //if we don't receive the response after 60 seconds, declare it as failed!
                setTimeout(function(){
                  var iframe = document.getElementById(iframe_id);
                  if(iframe != null) {
                    iframe.src = "about:blank";
                    $(iframe).remove();

                    deferred.reject({'status':'fail','message':'Timeout!'});
                  }
                } , 60000);
              }
              else {
                var fd = null;
                try {
                  fd = new FormData($form.get(0));
                } catch(e) {
                  //IE10 throws "SCRIPT5: Access is denied" exception,
                  //so we need to add the key/value pairs one by one
                  fd = new FormData();
                  $.each($form.serializeArray(), function(index, item) {
                    fd.append(item.name, item.value);
                  });
                  //and then add files because files are not included in serializeArray()'s result
                  $form.find('input[type=file]').each(function(){
                    if(this.files.length > 0) fd.append(this.getAttribute('name'), this.files[0]);
                  });
                }

                //if file has been drag&dropped , append it to FormData
                if(file_input.data('ace_input_method') == 'drop') {
                  var files = file_input.data('ace_input_files');
                  if(files && files.length > 0) {
                    fd.append(file_input.attr('name'), files[0]);
                  }
                }

                deferred = $.ajax({
                  url: submit_url,
                  type: 'POST',
                  processData: false,
                  contentType: false,
                  dataType: 'json',
                  data: fd,
                  xhr: function() {
                    var req = $.ajaxSettings.xhr();
                    /*if (req && req.upload) {
                      req.upload.addEventListener('progress', function(e) {
                        if(e.lengthComputable) {  
                          var done = e.loaded || e.position, total = e.total || e.totalSize;
                          var percent = parseInt((done/total)*100) + '%';
                          //bar.css('width', percent).parent().attr('data-percent', percent);
                        }
                      }, false);
                    }*/
                    return req;
                  },
                  beforeSend : function() {
                    //bar.css('width', '0%').parent().attr('data-percent', '0%');
                  },
                  success : function() {
                    //bar.css('width', '100%').parent().attr('data-percent', '100%');
                  }
                })
              }



              deferred.done(function(res){
                if(res.status == 'OK') $('#avatar').get(0).src = res.url;
                else alert(res.message);
              }).fail(function(res){
                alert("Failure");
              });


              return deferred.promise();

              //------------


              var deferred = new $.Deferred
      
              var value = $('#avatar').next().find('input[type=hidden]:eq(0)').val();
              if(!value || value.length == 0) {
                deferred.resolve();
                return deferred.promise();
              }
      
      
              //dummy upload
              setTimeout(function(){
                if("FileReader" in window) {
                  //for browsers that have a thumbnail of selected image
                  var thumb = $('#avatar').next().find('img').data('thumb');
                  if(thumb) $('#avatar').get(0).src = thumb;
                }
                
                deferred.resolve({'status':'OK'});
      
                if(last_gritter) $.gritter.remove(last_gritter);
                last_gritter = $.gritter.add({
                  title: 'Avatar Updated!',
                  text: 'Uploading to server can be easily implemented. A working example is included with the template.',
                  class_name: 'gritter-info gritter-center'
                });
                
               } , parseInt(Math.random() * 800 + 800))
      
              return deferred.promise();
              
              // ***END OF UPDATE AVATAR HERE*** //
            },
            
            success: function(response, newValue) {
            }
          })
        }catch(e) {}
        
        
 
        var tag_input = $('#form-field-tags-locations');
        if(! ( /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase())) ) 
        {
          tag_input.tag(
            {
            placeholder:tag_input.attr('placeholder'),
            //enable typeahead by specifying the source array
            source: ace.variable_US_STATES,//defined in ace.js >> ace.enable_search_ahead
            }
          );
        }
        else {
          //display a textarea for old IE, because it doesn't support this plugin or another one I tried!
          tag_input.after('<textarea id="'+tag_input.attr('id')+'" name="'+tag_input.attr('name')+'" rows="3">'+tag_input.val()+'</textarea>').remove();
          //$('#form-field-tags').autosize({append: "\n"});
        }          
      

      $('#skilltable').editable({
        selector: 'a.skillrank'
        //url: '/updateskill',


      });



      $('#skilltable').editable({
        selector: 'a.skills',
        source: function() {

        

              //alert($(this).closest(":has(td)").find('.skillcat').text());
              //$(this).closest(":has(td)").find('.skillcat').text()
              //$('.a1').closest('td').prev().text()
              //alert($(this).closest("td").prev().text())
              if ($(this).closest("td").prev().text() == "General Skills Management / Customers"){
                return (<%= @sst19 %>)
                
              }
              if ($(this).closest("td").prev().text()  == "Networking Skills"){
                return <%= @sst23 %>
                
              }
              if ($(this).closest("td").prev().text()  == "General Skills Technical"){
                return <%= @sst20 %>
               
              }
              if ($(this).closest("td").prev().text()  == "Operating Systems"){
                return <%= @sst28 %>
              
              }
        //return (sources[1])
        }

      });
   
      $('#skillcat').editable({
        selector: 'a.skillcat'
        //url: '/updateskill',
      });

      $('#industries').editable({
        
           source: function() {
                return (<%= @industries%>)
              },
        select2: {
           multiple: true
        },
        allowClear: true,
        minimumInputLength: 3,
        mode: 'popup'
      });

      $('#locations').editable({
        
           source: function() {
                return (<%= @countries %>)
              },
        select2: {
           multiple: true
        },
        allowClear: true,
        minimumInputLength: 3,
        mode: 'popup'
      });


        $('#skillsettingtable').dataTable( {
            "scrollY": 200,
            "ScrollX": true,
            "iDisplayLength": 10,
            "order": [[ 0, "desc" ]],
            "scrollCollapse": true,
            "jQueryUI": true,
            "aoColumns": [          
                null, null, null,
                { "bSortable": false }
              ]
        } );

      $('#nationality').editable({
        
           source: function() {
                return (<%= @countries %>)
              },
           success: function(response, newValue) {
              
              if (newValue != 156){
                 document.getElementById( 'spr_block' ).style.visibility = 'visible'; 
              };

              if (newValue == 156){
                document.getElementById( 'spr_block' ).style.visibility = 'hidden'; 
              } ;
           
            
            } //success

      });

      $("#sprcheck").on('change', function(){
          $.ajax({
            url: '/updatespr',
            type: 'POST',
            data: {"singaporepr": this.checked, "pk" : <%=@userprofile.id %>}
            
          });
         
      });

      $("#activecheck").on('change', function(){
          $.ajax({
            url: '/updateactive',
            type: 'POST',
            data: {"activeseeker": this.checked, "pk" : <%=@userprofile.id %>}
            
          });
         
      });

	});

$(document).ready(function(){



		$('.dial').each(function () { 

		          var elm = $(this);
		          var color = elm.attr("data-fgColor");  
		          var perc = elm.attr("value");  
		 
		          elm.knob({ 
		               'value': 0, 
		                'min':0,
		                'max':100,
		                "skin":"tron",
		                "readOnly":true,
		                "thickness":.1,                 'dynamicDraw': true,                "displayInput":false
		          });

		          $({value: 0}).animate({ value: perc }, {
		              duration: 1000,
		              easing: 'swing',
		              progress: function () {                  elm.val(Math.ceil(this.value)).trigger('change')
		              }
		          });

		          //circular progress bar color
		          $(this).append(function() {
		              elm.parent().parent().find('.circular-bar-content').css('color',color);
		              elm.parent().parent().find('.circular-bar-content label').text(perc+'%');
		          });

		});
   

    var nation=document.getElementById( 'nationality' ).textContent;
              if (nation.indexOf("Singapore") > -1){
                document.getElementById( 'spr_block' ).style.visibility = 'hidden'; 
              
              } else
              {
                document.getElementById( 'spr_block' ).style.visibility = 'visible'; 
                
              }; 
              
          

   //http://stackoverflow.com/questions/19421869/jquery-knob-return-values-of-multiple-knobs-on-demand?rq=1 AJAX the return value.
 });

</script>


<script>


document.getElementById("testing").onclick = function() {spr_on()};

function spr_on()
{
document.getElementById( 'spr_block' ).style.visibility = 'visible'; 
document.getElementById( 'abc' ).style.visibility = 'visible'; 


}



</script>

<script src='http://anthonyterrien.com/js/jquery.knob.js'></script>

  

